<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/clase">Clase</a></li>
        <li class="breadcrumb-item"><a href="/clase/{{class._id}}">{{class.name}}</a></li>
        <li class="breadcrumb-item"><a href="/clase/{{class._id}}/teme-propuse">Teme propuse</a>
        </li>
        <li class="breadcrumb-item active">{{homeworkRequest.name}}</li>
    </ol>
</nav>

<h1>{{homeworkRequest.name}}</h1>
<h5 class="mb-5 text-muted font-weight-normal" class2="mb-5">{{homeworkRequest.description}}</h5>
{{!-- <h2 class="mb-5">Clasa a {{class.grade}}-a, {{class.name}}</h2> --}}


<div> <span class="fw-bold">Data publicării</span>: {{homeworkRequest.publishedDateAsString}}</div>
<div> <span class="fw-bold">Termen de predare</span>: {{homeworkRequest.dueDateAsString}}</div>
<div> <span class="fw-bold">Exerciții propuse</span>:
    {{#each homeworkRequest.documents}}
    <span>
        <a href="{{url}}">subiecte</a>
    </span>
    {{/each}}
    {{homeworkRequest.details}}

    ({{homeworkRequest.totalRequestedQuestions}} ex.)
</div>
{{#if homeworkRequest.relatedCourses.length}}
<div> <span class="fw-bold">Cursuri relaționate</span>:
    {{#each homeworkRequest.relatedCourses}}
    <span>
        <a href="/sesiuni-curs/{{_id}}">curs {{course}}</a>,
    </span>
    {{/each}}
</div>
{{/if}}




{{#if isNotCurrentHomework}}
<hr />
Elevii care au predat<sup>*</sup> această temă:

{{#if homeworkRequest.submissions}}
<ul>
    {{#each homeworkRequest.submissions}}
    <li>
        <a href="/elevi/{{student._id}}">{{student.displayName}}</a> ({{totalSubmittedQuestions}} din
        {{@root.homeworkRequest.totalRequestedQuestions}} exerciții)
    </li>
    {{/each}}
</ul>
{{else}}
Temă nefăcută (toată clasa)!
{{/if}}

<div class="mt-5">
    <sup>*</sup> - Au fost contorizate toate exercițiile (inclusiv cele rezolvate parțial sau cele complet greșite).
</div {{/if}}