<nav aria-label="breadcrumb">
    <ol class="breadcrumb pe-2">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/">Cursuri</a></li>
        <li class="breadcrumb-item active">{{course.code}}</li>

        {{#if canCreateOrEditCourse}}
        <li title="Editează" class="ms-auto ms-3"><a href="/cursuri/{{course._id}}/modifica"><i class="bi bi-pencil"></i></a></li>
        {{/if}}
    </ol>
</nav>

<h1>{{course.name}}</h1>

<div class="mb-3 text-muted">{{{course.descriptionPreview}}}</div>

{{#each course.chapters}}
<div>
    <strong>{{inc @index}}. {{name}}{{#unless name}}Fără nume{{/unless}}</strong> 

    <a class="text-decoration-none" href="/cursuri/{{@root.course._id}}/capitole/{{id}}"><i class="bi bi-arrow-right-square"></i></a>

    {{#each lessons}}
        <div class="ps-3">
            {{inc @../index}}.{{inc @index}}. 
            {{#if isActive}}
                <a class="pl-1" href="/lectii/{{id}}">{{name}}</a>
                <span class="text-muted">({{ exercises.length }}{{#unless exercises.length}}0{{/unless}})</span>
            {{else}}
                <span class="text-muted">{{name}}</span>
            {{/if}}
        </div>
    {{/each}}
</div>
{{/each}}
