<style>
    OL {
        counter-reset: item;
    }

    LI {
        display: block;
    }

    #agenda LI:before {
        /* only <li>s in agenda section */
        content: counters(item, ".") ". ";
        counter-increment: item
    }

    #table-of-contents LI:before {
        /* only <li>s in agenda section */
        content: counters(item, ".") ". ";
        counter-increment: item
    }
</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/">Cursuri</a></li>
        <li class="breadcrumb-item active">{{course.code}}</li>
        <li title="Editează" class="ms-auto"><a href="/cursuri/{{course._id}}/modifica"><i class="bi bi-pencil me-1"></i></a></li>
    </ol>
</nav>

<h1>Curs {{course.code}}</h1>

<h3 class=" font-weight-light">{{course.name}}</h3>

<div class="h4 font-weight-light">{{course.description}}</div>

{{#each course.chapters}}
<div>
    <strong>{{inc @index}}. {{name}}{{#unless name}}Fără nume{{/unless}}</strong>
    <a href="/cursuri/{{@root.course._id}}/capitole/{{id}}">...</a>

    {{#each lessons}}
        <div class="ps-3">
            {{inc ../index}}.{{inc @index}}. 
            <a class="pl-1" href="/cursuri/{{@root.course._id}}/capitole/{{../id}}/lectii/{{id}}">{{name}}</a>
        </div>
    {{/each}}
</div>
{{/each}}
