{{!-- <style>
    .source {
        _font-style: italic;
        _font-size: 8px;
    }
</style> --}}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item active" aria-current="page">Cursuri</li>
    </ol>
</nav>

<h1>Cursuri</h1>

{{!-- {{#if canCreateOrEditExercise}}
<a href="/exercitii/adauga" class="btn btn-primary mt-2 mb-4"><i class="fa fa-plus"></i> Adaugă exercițiu</a>
{{/if}} --}}

{{!-- <h3< class="mt-4">>Ediția curentă:</h3> --}}
{{#if generalCourses}}
<h3 class="mt-4">Cursuri generale:</h3>
<div class="text-muted">Materiale utile pentru <strong>pregătirea la clasă</strong> (evaluări inițiale, lucrări de
    control, teze)
    și <strong>Evaluarea Națională</strong>. Structura unităților de învățare s-a făcut plecând de la noua
    <a href="http://programe.ise.ro/Portals/1/Curriculum/2017-progr/24-Matematica.pdf" target="_blank">programă
        școlară</a>
    <small><i class="fas fa-external-link-alt text-muted text-small" aria-hidden="true"></i></small>.
    Fiecare lecție a fost găndită pentru a putea fi abordată independent, de elevi cu grade diferite de pregătire:
    <strong>începător</strong>,
    <strong>mediu</strong> și <strong>avansat</strong>.
</div>

<ul class="mt-2">
    {{#each generalCourses}}
    <li>{{code}}: <a href="/cursuri/{{_id}}">{{name}} </a></li>
    {{/each}}
</ul>
{{else}}
<div class="mt-4">Nu există cursuri active!</div>
{{/if}}


{{#if highLevelCourses}}
<h3 class="mt-4">Cursuri pentru olimpiadă:</h3>
<div class="text-muted">Aceste cursuri se adresează elevilor care doresc să se
    pregătească pentru etapele
    <strong>locală</strong> și <strong>județeană</strong> ale <strong>ONM</strong>.
    Temele abordate au la bază <a href="https://satmar.ro/web/uploads/files/programa-olimpiada-gimnaziu-2019-2020.pdf"
        target="_blank">programa de olimpiada</a>
    <small><i class="fas fa-external-link-alt text-muted text-small" aria-hidden="true"></i></small> dar si o analiză a
    subiectelor date în anii anteriori. Fiecare lecție a fost găndită pentru a putea fi abordată independent, de elevi
    cu grade diferite de pregătire.
</div>

<ul class="mt-2">
    {{#each highLevelCourses}}
    <li>{{code}}: <a href="/cursuri/{{_id}}">{{name}} </a></li>
    {{/each}}
</ul>
{{/if}}