<nav aria-label="breadcrumb">
    <ol class="breadcrumb pe-2">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item active">Fișiere</li>

        {{!-- {{#if canCreateOrEditCourse}}
        <li title="Editează" class="ms-auto"><a href="/fise/modifica"><i class="bi bi-pencil me-1"></i></a></li>
        {{/if}} --}}
    </ol>
</nav>

<h1>Fișiere</h1>

{{!-- <a href="/fise/adauga" class="btn btn-primary"><i class="bi bi-plus-lg"></i> Adaugă fișă</a> --}}

<form method="post" novalidate onsubmit="saveBtn.disabled = true; return true;"></form>
<table id="files-tbl" class="table thead-light table-bordered table-hover mt-5">
    <thead>
        <tr>
            <th>Fișier</th>
            <th>Nume</th>
            <th>Dimensiune</th>
            <th>CreatDe</th>
            <th>CreatLa (UTC)</th>
            <th>Sursa</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each files}}
        <tr>
            <td>
                {{#if isImage}}
                    <a href="{{url}}"><img src="{{url}}" height="50"/></a>
                {{else}}
                    <img src="/images/{{extension}}-icon.png" height="32"/>
                {{/if}}
            </td>
            <td><a href="{{url}}">{{name}}</a></td>
            <td>{{size}}</td>
            <td>{{createdBy.name}}</td>
            <td>{{createdOn}}</td>
            <td>
                {{#if sourceId}}
                    <a href="{{sourceType}}/{{sourceId}}">Sursa</a>
                {{else}}
                    <a role="button" class="link-danger delete-file-btn" data-fileid="{{_id}}">Șterge</a>
                {{/if}}
            </td>
            <td>
                <a href="/fisiere/{{_id}}">Detalii</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{#section 'script'}}
<script type="module" src="/js/eventBinders/files.event-binder.js"></script>
{{/section}}