{{!-- Exercise menu --}}
<div class="exercise-menu-div hide-on-print clearfix">
    <div class="float-start">
        {{#if hints}}
            <a class="toggle-hints-btn" href="">Indicații</a>
            <span class="text-muted">({{hints.length}})</span>
        {{/if}}

        {{#if answerPreview}}
            {{#if hints}}
                <span class="text-muted ms-2 me-2">|</span>
            {{/if}}
            <a class="toggle-answer-btn" href="">Răspuns</a>
        {{/if}}

        {{#if solutionPreview}}
            {{#if (or answerPreview hints)}}
                <span class="text-muted ms-2 me-2">|</span>
            {{/if}}
            <a class="toggle-solution-btn" href="">Soluție</a>
        {{/if}}
    </div>

    <div class="float-end">
        {{#if allowView}}
        <a title="Vizualizează exercițiul" 
            href="/cursuri/{{@root.courseId}}/exercitii/{{_id}}">
            <i class="bi bi-eye me-1"></i></a>
        {{/if}}

        {{#if allowEdit}}
        <a title="Editează exercițiul" 
            href="/cursuri/{{@root.courseId}}/exercitii/{{_id}}/modifica">
            <i class="bi bi-pencil me-1"></i></a>
        {{/if}}

        {{#if allowDelete}}
        <button title="Șterge exercițiul" type="submit"
            formaction="/cursuri/{{@root.courseId}}/exercitii/{{_id}}/sterge"
            name="deleteBtn" class="btn btn-link p-0 border-0 me-1 align-top"
            onclick="return confirm('Ești sigur că vrei să ștergi acest exercițiu?');"><i class="bi bi-trash"></i></button>
        {{/if}}

        {{#if allowMove}}
        <a title="Mută exercițiul" 
            href="/cursuri/{{@root.courseId}}/exercitii/{{_id}}/muta">
            <i class="bi bi-arrows-move me-1"></i></a>
        {{/if}}

        {{#if allowUpdateCart}}
            <button type="button" data-exercise-id="{{_id}}" class="remove-from-cart-btn d-none btn btn-light border border-primary btn-xs">Scoate din coș</button>
            <button type="button" data-exercise-id="{{_id}}" data-exercise-code="{{code}}" data-course-id="{{@root.courseId}}" class="add-to-cart-btn btn btn-primary btn-xs">Adaugă în coș</button>
        {{/if}}
    </div>
</div>