<!doctype html>
<html lang='ro'>

<head>
    <base href="/" />
    <meta charset="utf-8">
    <title>MateMaraton</title>
    <meta name="description" content="Cursuri de matematică pentru gimnaziu">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="author" href="humans.txt" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <link rel='stylesheet' , href='/css/app.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.0/dist/katex.min.css"
        integrity="sha384-t5CR+zwDAROtph0PXGte6ia8heboACF9R5l/DiY+WZ3P2lxNgvJkQk5n7GPvLMYw" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/markdown-it-texmath/css/texmath.min.css">

    {{{_sections.head}}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/markdown-it-texmath/texmath.min.js"></script>

    {{{_sections.script}}}

</head>

<body>
    <main role="main" class="container">
        {{> navbar}}
        {{!-- {{> navbar ctx=@root}} --}}
        {{!-- {{toJSON @root}} --}}
        {{{body}}}
    </main>
</body>


</html>

{{{_sections.script-after}}}

{{!-- ensure the javascript is at the bottom of the code in express-handlebars template
http://stackoverflow.com/a/25307270, http://stackoverflow.com/a/21740214 --}}