<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/clase">Clase</a></li>
        <li class="breadcrumb-item"><a href="/clase/{{class._id}}">{{class.name}}</a></li>
        <li class="breadcrumb-item"><a href="/clase/{{class._id}}/sesiuni-curs">Sesiuni</a></li>
        {{!-- <li class="breadcrumb-item active">Sesiunea {{course.course}}</li> --}}
    </ol>
</nav>

<h1 id="course-session-id-container" data-course-session-id="{{courseSession._id}}">
    {{#if isEditMode}} Edit: Sesiunea {{courseSession.course}}{{else}} Sesiune nouă{{/if}}
</h1>

<form method="post" novalidate onsubmit="saveBtn.disabled = true; return true;">

    <div class="row mb-3">
        <div class="col-md-6">
            <label for="courseInput" class="fw-bold">Numărul sesiunii:</label>
            <input type="text" name="course" class="form-control" id="courseInput" placeholder=""
                value="{{courseSession.course}}">
        </div>

        <div class="col-md-6">
            <label for="dateInput" class="fw-bold">Data sesiunii:</label>
            <input type="text" name="date" class="form-control" id="dateInput" placeholder=""
                value="{{courseSession.date}}">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-12">
            <label for="descriptionInput" class="fw-bold">Descriere:</label>
            <input type="text" name="description" class="form-control" id="descriptionInput" placeholder=""
                value="{{courseSession.description}}">
        </div>
    </div>


    <label class="fw-bold">Prezența:</label>
    {{#each students}}
    {{#if (or isNotDroppedOut isPresent)}}
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="studentsId{{inc @index}}" name="studentsIds" value={{_id}}
            {{#if isPresent}}checked{{/if}}>
        <label class="form-check-label" for="studentsId{{inc @index}}">{{firstName}} {{lastName}}</label>
    </div>
    {{/if}}
    {{/each}}


    <div class="mt-4">
        <label class="fw-bold">Poze:</label>
        <textarea class="form-control" name="images" rows="5">{{courseSession.images}}</textarea>
        <small>
            <p class="text-muted mb-0">O lista de URL-uri, unul pe rând, fără virgulă.</p>
            <p class="text-muted mb-0">Ex: https://matemaraton.blob.core.windows.net/courses-lg/202021/IMG_0635.jpeg</p>
        </small>
    </div>

    <div class="mt-4">
        <label class="fw-bold">Video:</label>
        <textarea class="form-control" name="videos" rows="5">{{courseSession.videos}}</textarea>
        <small>
            <p class="text-muted mb-0">O lista de URL-uri, unul pe rând, fără virgulă.</p>
            <p class="text-muted mb-0">Ex: https://www.youtube.com/embed/hCAsepsLZZc</p>
        </small>
    </div>


    <input type="hidden" name="id" value="{{courseSession._id}}" />
    <input type="hidden" name="classId" value="{{class._id}}" />

    <div class="mt-4">
        <div class="col-md-7s offset-md-3s">
            <button type="submit" name="saveBtn" class="btn btn-primary"><i class="bi bi-save"></i>
                Salveaza</button>

            {{#if isEditMode}}
            <a href="/sesiuni-curs/{{courseSession._id}}" class="btn btn-light"><i class="bi bi-eye"></i>
                Vizualizează</a>
            <button type="submit" formaction="/sesiuni-curs/sterge" name="deleteBtn" class="btn btn-link"
                onclick="return confirm('Ești sigur că vrei să ștergi această sesiune?');"><i
                    class="bi bi-trash-fill"></i>
                Șterge</button>
            {{/if}}
        </div>
    </div>

</form>
