<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/">Cursuri</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/{{courseId}}">{{courseCode}}</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/{{courseId}}/capitole/{{chapterId}}">
                Cap.{{inc chapterIndex}}</a></li>
        <li class="breadcrumb-item active">L.{{inc lessonIndex}}</li>
        
        {{#if canCreateOrEditCourse}}
        <li title="Editează" class="ms-auto"><a href="/cursuri/{{courseId}}/lectii/{{lessonId}}/modifica"><i class="bi bi-pencil me-1"></i></a></li>
        {{/if}}
    </ol>
</nav>

<h1>Lecția {{inc lessonIndex}}: {{lesson.name}}</h1>

<div class="text-muted">
    {{lesson.description}}
</div>

{{!-- {{toJSON lesson}} --}}

{{#if lesson.theory.textPreview}}
    <section>
        <h2 class="mt-3 mb-3 border-bottom border-secondary">
            Noțiuni teoretice
            <a class="fs-6" href="/cursuri/{{courseId}}/lectii/{{lessonId}}/teorie"><i class="bi bi-eye me-1"></i></a>
        </h2>
        
        <div id="content-preview-div">
            {{{lesson.theory.textPreview}}}
        </div>
    </section>
{{/if}}


{{#each lesson.sectionsObj.sections}}
    {{#if total}}
    <section id="section{{id}}">
        <div class="section-menu-div mt-5 mb-4 border-bottom border-secondary">
            <h2>{{name}}
                <span class="text-muted fw-light">({{total}})</span>

                {{#if total}}
                    <a class="toggle-section-btn h6 fw-normal" href="#">{{#if isActive}}Ascunde exercițiile{{else}}Afișează{{/if}}</a>
                {{/if}}
            </h2>
        </div>

        <div class="section-content-div mb-3 {{#unless isActive}}d-none{{/unless}}">
        {{#each levels}}
            {{#if exercises.length}}
            <section>
                <div class="level-menu-div">
                    <h3 class="fs-4">{{name}}</h3>
                </div>

                <div class="level-content-div mb-3">
                    {{#each exercises}}
                    <div class="exercise-div">
                        {{> exercise-statement @this}}
                        {{> exercise-menu @this sectionId = ../../id levelId = ../id allowView=true allowEdit=false allowDelete=false allowMove=false allowUpdateCart=true}}
                        {{> exercise-panels @this }}
                    </div>
                    {{/each}}
                </div>
            </section>
            {{/if}}
        {{/each}}
        </div>
    </section>
    {{/if}} 
{{/each}}


<div class="mt-5 mb-5"></div>


{{#section 'script'}}
<script type="module" src="/js/eventBinders/course-lesson.event-binder.js"></script>
{{/section}}