<nav aria-label="breadcrumb">
    <ol class="breadcrumb pe-2">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/fisiere/">Fișiere</a></li>

        <li title="Vizualizează" class="ms-auto ms-3"><a href="/fisiere/{{fileId}}"><i class="bi bi-eye"></i></a></li>
        {{!-- {{#if canCreateOrEditSheet}}
        <li title="Editează"><a href="/fise/{{sheetId}}/modifica"><i class="bi bi-pencil me-1"></i></a></li>
        {{/if}} --}}
    </ol>
</nav>

{{!-- <h1>Lecția {{inc lessonIndex}}: {{lesson.name}}</h1> --}}

<pre><code class="hljs language-json">{{{prettyJson}}}</code></pre>