<style>

</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/teste">Teste</a></li>
        <li class="breadcrumb-item active">
            {{#if isEditMode}}{{practiceTest.name}}{{else}}Adaugă{{/if}}
        </li>
    </ol>
</nav>

<h1 id="practice-test-id-container" data-practice-test-id="{{practiceTest._id}}">
    {{#if isEditMode}} Edit: {{practiceTest.name}}{{else}} Test nou:{{/if}}
</h1>

<form method="post" novalidate onsubmit="saveBtn.disabled = true; return true;">

    <div class="row">
        <div class="col-md-6">
            <label for="gradeSelect" class="fw-bold">Clasa:</label>
            <select name="grade" class="form-select" id="gradeSelect">
                {{#select practiceTest.grade}}
                    <option value=""></option>
                    {{#each gradeAvailableOptions}}
                        <option value="{{value}}">{{text}}</option>
                    {{/each}}

                {{/select}}
            </select>
        </div>

        <div class="col-md-6">
            <label for="contestTypeSelect" class="fw-bold">Tipul concursului
                <span class="text-muted font-weight-normal">(la care a fost dat accest ex.)</span>:</label>
            <select name="contestType" class="form-select" id="contestTypeSelect">
                {{#select practiceTest.contestType}}
                    <option value=""></option>
                    {{#each contestTypeAvailableOptions}}
                        <option value="{{value}}">{{text}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <label for="titleInput" class="required fw-bold">Titlu:</label>
            <input type="text" name="name" class="form-control" id="titleInput" placeholder="" value="{{practiceTest.name}}" />
        </div>
    </div>

    <input type="hidden" name="_id" value="{{practiceTest._id}}" />

    <div class="form-group">
        <div class="col-md-7s offset-md-3s">
            <button type="submit" name="saveBtn" class="btn btn-primary"><i class="bi bi-save"></i>
                Salveaza</button>
            <a href="/teste" class="btn btn-light"><i class="bi bi-x"></i> Renunță</a>

        </div>

    </div>

</form>

{{#section "script"}}
    {{!
<script type="module" src="/js/lesson/lesson.main.js"></script> }}
{{/section}}