<style>
</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        {{#if course}}
            <li class="breadcrumb-item"><a href="/cursuri/">Cursuri</a></li>
            <li class="breadcrumb-item"><a href="/cursuri/{{course._id}}/">{{course.code}}</a></li>
        {{else}}
            <li class="breadcrumb-item"><a href="/teste/">Teste</a></li>
        {{/if}}
        {{!-- <li class="breadcrumb-item active">{{practiceTest.name}}</li> --}}
    </ol>
</nav>

<h3 class="mb-4"><span class="font-weight-light text-secondary2">{{practiceTest.name}}</span>
</h3>

<div class="mt-4">
    <div class="col-md-7s offset-md-3s">

        {{#if canDeletePracticeTest}}
            <a href="/teste/{{practiceTest._id}}/adauga" class="btn btn-primary"><i class="bi bi-plus-lg"></i>
                Adaugă exercițiu</a>

            <a href="/teste/{{practiceTest._id}}/modifica" class="btn btn-light"><i class="bi bi-pencil-fill"></i>
                Modifică</a>
        {{/if}}

        {{#if canDeletePracticeTest}}
            <form method="post" onsubmit="deleteBtn.disabled = true; return true;" style="display:inline">
                <input type="hidden" name="_id" value="{{practiceTest._id}}" />
                <button
                    type="submit"
                    formaction="/teste/sterge"
                    name="deleteBtn"
                    class="btn btn-link"
                    onclick="return confirm('Ești sigur că vrei să ștergi acest test?');"
                ><i class="bi bi-trash-fill"></i>
                    Șterge</button>
            </form>
        {{/if}}
    </div>
</div>

{{#each practiceTest.exercises}}
    <div class="mb-4">
        <div style="border: 1px solid #bb815d; padding: 6px 12px; background-color: #fff9f8; min-height:58px">
            {{{statementPreview}}}
            {{#if answerOptions}}
                <div class="row">
                    {{#each answerOptions}}
                        <div class="col text-nowrap">{{{textPreview}}}</div>
                    {{/each}}
                </div>
            {{/if}}
        </div>
        {{!-- <div class="font-italic small text-right text-muted">{{contestName}}</div>
    <div class="font-italic small text-right text-muted">{{sourceName}}</div> --}}

        {{#if solution}}
            <div class="fw-bold mt-2">Soluție:</div>
            <div style2="border: 1px solid lightgray; padding: 6px 12px; background-color: min-height:58px">
                {{{solutionPreview}}}</div>
        {{/if}}

        <hr class="mb-1" />

        <div class="row">
            <div class="col text-nowrap">
                {{#if answerOptions}}
                    {{{correctAnswerPreview}}}
                {{else}}
                    {{{answerPreview}}}
                {{/if}}
            </div>
            <div class="col text-nowrap font-italic font-weight-light small text-right text-muted">Rezolvare: L. Măran
            </div>
        </div>

    </div>
{{/each}}