<div class="container-fluid">

    {{#if errors.page}}
    <div class="alert alert-danger">
        <i class="bi bi-exclamation-circle me-2"></i> {{errors.page.msg}}
    </div>
    {{/if}}

    <h1>Login</h1>

    {{!-- <p>{{toJSON data}}</p> --}}
    {{!-- <p>{{toJSON errors}}</p> --}}  

    <form method="post" id="loginForm" action="/login" novalidate onsubmit="saveBtn.disabled = true; return true;">
        <div class="row mb-3">
            <label for="email" class="col-md-3 col-form-label required">Email</label>
            <div class="col-md-7">
                <input type="email" name="email" id="email" class="form-control {{#if errors.email}}is-invalid {{/if}}"
                    value="{{data.email.val}}" {{#if uiData.email.hasAutofocus}}autofocus {{/if}} />
                <div class=" invalid-feedback">{{errors.email.msg}}</div>
            </div>
        </div>

        <div class="row mb-3">
            <label for="password" class="col-md-3 col-form-label required">Parola</label>
            <div class="col-md-7">
                <input type="password" name="password" id="password"
                    class="form-control {{#if errors.password}}is-invalid {{/if}}" value="{{data.password.val}}"
                    {{#if uiData.password.hasAutofocus}}autofocus {{/if}} />
                <div class="invalid-feedback">{{errors.password.msg}}</div>
            </div>
        </div>

        <input type="hidden" name="redirectUri" value="{{data.redirectUri}}" />
        <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response" />

        <div class="row mb-3">
            <div class="col-md-7 offset-md-3">
                <button type="submit" name="saveBtn" class="btn btn-primary"><i class="bi bi-save"></i>
                    Autentifică</button>
                <button type="button" class="btn btn-light" onclick='window.history.back();'> 
                    <i class="bi bi-x"></i>
                    Renuntă</button>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-md-7 offset-md-3">
            Ți-ai uitat parola? <a href="/reset-password">Resetează parola.</a>
        </div>
    </div>

</div>

{{#section 'script-after'}}
{{!-- https://developers.google.com/recaptcha/docs/v3#programmatically_invoke_the_challenge --}}
<script src="https://www.google.com/recaptcha/api.js?render={{data.recaptchaSiteKey}}"></script>
<script>

    // intercepts the form submit event
    const form = document.getElementById("loginForm");
    form.addEventListener("submit", onSubmit);

    // https://developers.google.com/recaptcha/docs/v3#programmatically_invoke_the_challenge
    // https://code.tutsplus.com/tutorials/example-of-how-to-add-google-recaptcha-v3-to-a-php-form--cms-33752
    function onSubmit(e) {
        e.preventDefault(); // prevent submitting the form
        grecaptcha.ready(function () {
            grecaptcha.execute('{{data.recaptchaSiteKey}}', { action: 'login' }).then(function (token) {
                document.getElementById('g-recaptcha-response').value = token;
                form.submit();
            });
        });
    }

</script>
{{/section}}