<style>
    .hidePresence {
        display: none;
    }

    .hideStudent {
        display: none;
    }
</style>

{{#if (or (eq2 class._id "5d92dba4a0da913a67b9a712") (eq2 class._id "5db470a58f57b35330bc93c5"))}}
<div class="alert alert-info" role="alert">
    <i class="bi bi-info-circle me-2"></i>
    Cursurile pentru această grupă au fost întrerupte în <span class="fw-bold">01 Aprilie 2020</span> (din
    lipsă de elevi - vezi prezența).
</div>
{{/if}}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/Clase/">Clase</a></li>
        <li class="breadcrumb-item active">{{class.name}}</li>
    </ol>
</nav>

<h1>{{class.name}}</h1>
<h3 class="text-muted2 font-weight-light">Nivel {{class.level}}</h3>

{{#unless (eq class.enrollmentInfo.status "open")}}
<h5 class="mt-4">Rapoarte:</h5>
<ul>
    <li><a href="/clase/{{class._id}}/elevi">Elevi</a></li>
    <li class="mb-3"><a href="/clase/{{class._id}}/sesiuni-curs">Sesiuni de curs</a>
            <span class="text-muted">(poze de pe tablă
                {{#if (or (eq2 class._id "5d92db9ba0da913a67b9a711") (eq2 class._id "5d92dc63a0da913a67b9a713"))}}
                <span class="fw-bold">și video</span>
                {{/if}})
            </span></li>

    <li><a href="/clase/{{class._id}}/prezenta">Prezența</a> <span class="text-muted">(pe zile)</span></li>
    <li class="mb-3"><a href="/clase/{{class._id}}/total-prezente">Total prezențe</a><span class="text-muted"> (pe
                elevi)</span></li>

    <li><a href="/clase/{{class._id}}/teme-propuse">Teme propuse</a> <span class="text-muted"> (pentru acasă)</span>
    </li>
    <li><a href="/clase/{{class._id}}/total-teme-predate">Total teme predate</a> <span class="text-muted"> (făcute
                acasă)</span> </li>
    {{#if can.viewParentsLink}}
    <li><a href="/clase/{{class._id}}/parinti">Parinți</a></li>
    {{/if}}

</ul>
{{/unless}}

{{#if class.description}}
<h5>Descriere:</h5>
<div class="text-muted font-weight-light mb-3">{{class.description}}</div>
{{/if}}

{{#if @root.user.isAdmin}}
<h5>Curs: <a href="/cursuri/{{courseSummary._id}}">{{courseSummary.code}}</a> - {{courseSummary.name}}</h5>
{{/if}}

{{!-- {{#if (or class.startDate class.numberOfSessions)}}
<h5>Durata cursului:</h5>
<ul>
    {{#if class.startDate}}<li>{{class.startDate}} - {{class.endDate}}</li> {{/if}}
    {{#if class.numberOfSessions}}<li>{{class.numberOfSessions}} sesiuni de curs</li> {{/if}}
</ul>
{{/if}} --}}

{{#if class.startDate}}
<h5>Perioada: <small>{{class.startDate}} - {{class.endDate}}</small></h5>
{{/if}}

{{#if class.numberOfSessions}}
<h5>Durata: <small>{{class.numberOfSessions}} sesiuni de curs</small></h5>
{{/if}}

{{#if class.scheduleInfo}}
<h5>Orar: <small>{{class.scheduleInfo.timeSlot}} (în fiecare {{class.scheduleInfo.day}})</small></h5>
<h5>Locație: <small>{{class.scheduleInfo.place}}</small></h5>
{{/if}}


{{!-- <h5>Comunicare:</h5>
<ul>
    <li><a href="https://matemaraton.ro">matemaraton.ro</a> - materiale de lucru, rapoarte, statistici
    <li><a href="https://www.whatsapp.com" target="_blank">whatsapp</a> - grup de lucru cu elevii
        (<strong>{{class.whatsappGroupName}}</strong>)
    </li>
    <li><a href="https://www.facebook.com/matemaraton" target="_blank">facebook.com/matemaraton</a> - comunicare cu
        părinții
    </li>
    <li><a href="https://www.facebook.com/groups/417125302327211" target="_blank">facebook</a> "<span
            class="fw-bold">MateMaraton: ajutor la teme</span>" - trimite o
        poză și precizează clasa. Atât! </li>
</ul> --}}


<h5>Mentor: <small>ing. Lucian Măran</small></h5>
<h5>Pret: <small>Gratuit</small></h5>

<hr class="mt-4 mb-4">


{{#if class.enrollmentInfo}}
<h5>Inscriere:</h5>
<ul>
    <li><strong>Locuri disponibile: </strong>{{class.enrollmentInfo.availablePlaces}}</li>
    <li><strong>Condiții de participare: </strong>{{class.enrollmentInfo.conditionsOfParticipation}}</li>

    {{#if class.enrollmentInfo.tieBreakingConditions}}
    <li><strong>Condiții de departajare: </strong> În cazul în care numărul de elevi înscriși depășește numărul de
        locuri disponibile, se va proceda la o selecție bazată, în ordine, pe următoarele criterii:</li>

    <ul>
        {{#each class.enrollmentInfo.tieBreakingConditions}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    {{/if}}

    <li><strong>Perioada de înscriere: </strong>{{class.enrollmentInfo.enrollmentPeriod}}</li>

</ul>

<div class="mb-5">
    {{#if (eq class.enrollmentInfo.status  "notStarted")}}
    Adresa pentru înscriere: va urma!
    {{else }} {{!-- status="open / completed" --}}
    <a class="btn btn-primary btn-sm" href="/clase/{{class._id}}/inscrieri/adauga" role="button">Cerere de
        înscriere</a>

    <a class="btn btn-secondary btn-sm" href="/clase/{{class._id}}/inscrieri" role="button">
        Lista cererilor depuse</a>
    {{/if}}
</div>
{{/if}}