<nav aria-label="breadcrumb">
    <ol class="breadcrumb pe-2">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/">Cursuri</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/{{courseId}}">{{courseCode}}</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/{{courseId}}/capitole/{{chapterId}}">
                Cap.{{inc chapterIndex}}</a></li>
        <li class="breadcrumb-item active">L.{{inc lessonIndex}}</li>
        
        <li class="ms-auto ms-3"><i role='button' class="bi bi-printer" onclick="window.print()"></i></li>
        {{#if canCreateOrEditCourse}}
        <li title="Editează" class="ms-3"><a href="/lectii/{{lessonId}}/modifica{{#if viewParameter}}?view={{viewParameter}}{{/if}}"><i class="bi bi-pencil"></i></a></li>
        {{/if}}
    </ol>
</nav>

<h1>Lecția {{inc lessonIndex}}: {{lesson.name}}</h1>

<div class="text-muted">
    {{lesson.description}}
</div>

{{!-- {{toJSON lesson}} --}}

<ul class="nav nav-tabs hide-on-print">
    <li class="nav-item">
        <a class="nav-link {{#if isTheoryTabActive}}active{{/if}}" href="/lectii/{{lessonId}}">Teorie</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{#if isExercisesTabActive}}active{{/if}}" href="/lectii/{{lessonId}}?view=exercitii">Exerciții ({{lesson.levelsObj.total}})</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{#if isSheetsTabActive}}active{{/if}}" href="/lectii/{{lessonId}}?view=fise">Fișe ({{lesson.sheets.length}})</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">

    <div class="tab-pane show {{#if isTheoryTabActive}}active{{/if}}" id="theory-tab-pane" role="tabpanel" aria-labelledby="theory-tab" tabindex="0">
        <div id="theory-div" class="mt-4">
        {{{lesson.theory.textPreview}}}
        </div>
    </div>

    <div class="tab-pane show {{#if isExercisesTabActive}}active{{/if}}" id="exercises-tab-pane" role="tabpanel" aria-labelledby="exercises-tab" tabindex="1">
        <section class="mt-4">
        {{#each lesson.levelsObj.levels}}
            {{#if exercises.length}}
            <section>
                <div class="level-menu-div">
                    <span class="fs-4">{{name}}</span>
                </div>

                <div class="level-content-div mb-3">
                    {{#each exercises}}
                    <div class="exercise-div">
                        {{> exercise-statement @this}}
                        {{> exercise-menu @this levelId = ../id allowView=true allowEdit=false allowDelete=false allowMove=false allowUpdateCart=true}}
                        {{> exercise-panels @this }}
                    </div>
                    {{/each}}
                </div>
            </section>
            {{/if}}
        {{/each}}
        </section>
    </div>

    <div class="tab-pane show {{#if isSheetsTabActive}}active{{/if}}" id="sheets-tab-pane" role="tabpanel" aria-labelledby="sheets-tab" tabindex="2">
        <section class="mt-4">
            {{#if @root.user}} 
            <div id="sheets-menu-div">
                <a id="create-new-sheet" href="/fise/adauga?lessonId={{lessonId}}" class="btn btn-primary btn-sm">
                <i class="bi bi-plus-lg"></i> Crează o fișă</a> cu exercițiile din cos.
            </div>
            {{/if}}

            {{#if lesson.sheets.length}}
            <div id="sheets-content-div">
                <table class="table thead-light table-bordered table-hover mt-3">
                    <thead>
                        <tr>
                            <th>Nume</th>
                            <th>CreatLa (UTC)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each lesson.sheets}}
                        <tr>
                            <td>
                                <a href="/fise/{{_id}}">{{name}}{{#unless name}}Fără nume{{/unless}}
                            </td>
                            <td>
                                {{createdOn}}
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            {{/if}}
        </section>
    </div>

</div>

<div class="mt-5 mb-5"></div>


{{#section 'script'}}
<script type="module" src="/js/eventBinders/lesson.event-binder.js"></script>
{{/section}}