<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/modifica">Cursuri</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/{{courseId}}/modifica">{{courseCode}}</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/{{courseId}}/capitole/{{chapterId}}/modifica">Cap.{{inc chapterIndex}}</a></li>
        {{#if isEditMode}}
        <li class="breadcrumb-item active">L.{{inc lessonIndex}}</li>
        {{/if}}
        
        {{#if isEditMode}}
        <li title="Json" class="ms-auto me-2"><a href="/lectii/{{lessonId}}/json"><i class="bi bi-braces me-1"></i></a></li>
        <li title="Vizualizează"><a href="/lectii/{{lessonId}}{{#if viewParameter}}?view={{viewParameter}}{{/if}}"><i class="bi bi-eye me-1"></i></a></li>
        {{/if}}
    </ol>
</nav>

<h1>{{#if isEditMode}}Lecția {{inc lessonIndex}}: {{lesson.name}}{{else}}Lecție nouă{{/if}}</h1>

{{#if isEditMode}}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {{#if isTheoryTabActive}}active{{/if}}" href="/lectii/{{lessonId}}/modifica">Teorie</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{#if isExercisesTabActive}}active{{/if}}" href="/lectii/{{lessonId}}/modifica?view=exercitii">Exerciții ({{lesson.levelsObj.total}})</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{#if isSheetsTabActive}}active{{/if}}" href="/lectii/{{lessonId}}/modifica?view=fise">Fișe ({{lesson.sheets.length}})</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{#if isGeneralTabActive}}active{{/if}}" href="/lectii/{{lessonId}}/modifica?view=general"><i class="bi bi-gear"></i></a>
    </li>
</ul>
{{/if}}

<form method="post" novalidate onsubmit="saveBtn.disabled = true; return true;">

<div class="tab-content" id="myTabContent">

    <div class="tab-pane show {{#if isTheoryTabActive}}active{{/if}}" id="theory-tab-pane" role="tabpanel" aria-labelledby="theory-tab" tabindex="0">
        <section class="mt-4">
            {{!-- theory --}}
            <div class="row mb-3">
                <div class="col-md-12 theory-div">
                    <label class="fw-bold">Noțiuni teoretice:</label>

                    {{!-- close the textarea tag on the same line to get rid of the unintended spaces: https://stackoverflow.com/a/34102261 --}}
                    <textarea id="theory-editor-txt" rows="8" name="theory" type="text" 
                        class="theory-input drop-area form-control {{#if errors.lastName}}is-invalid {{/if}} {{#if isEditMode}}d-none{{/if}}" placeholder="">{{lesson.theory.text}}</textarea>
                    <div class="invalid-feedback">{{errors.theory.msg}}</div>

                    <div id="theory-preview-div" class="mt-0"
                        style="border: 1px solid #bb815d; padding: 6px 12px; background-color: #fff9f8; min-height:58px">
                        {{{lesson.theory.textPreview}}}
                    </div>

                    <div id="upload-file-progress-theory-div" class="progress d-none" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 2px">
                        <div class="progress-bar w-100"></div>
                    </div>

                    {{!-- Theory menu --}}
                    <div class="theory-menu-div hide-on-print clearfix">
                        {{!-- <div class="float-start">
                            {{#if hints}}
                                <a class="toggle-hints-btn" href="">Indicații</a>
                                <span class="text-muted">({{hints.length}})</span>
                            {{/if}}
                        </div> --}}

                        <div class="float-end">
                            <span id="edit-menu-theory-span" class="d-none">
                                <span id="upload-file-error-theory-div" class="upload-file-error-div invalid-feedback">Mesaj de eroare</span>
                                <label class="btn btn-light border border-primary btn-xs" for="upload-file-theory-input">
                                    <i class="bi bi-card-image"></i>
                                    Adaugă poza
                                </label>
                            </span>

                            <a id="toggle-theory-editor-btn" href="">{{#if isEditMode}}Editează{{else}}Ascunde{{/if}}</a>
                        </div>
                    </div>

                </div>
            </div>

            {{!-- Files --}}
            <div class="row mt-3">
                <div class="col-md-6">
                    <label class="fw-bold"> Fișiere: </label>

                    <table id="gallery-tbl" class="table thead-light table-bordered table-hover">
                        <tbody>
                            {{#each lesson.files}}
                            <tr>
                                <td>
                                    {{#if isImage}}
                                        <a href="{{url}}" title="{{name}}"><img src="{{url}}" height="50"/></a>
                                    {{else}}
                                        <img src="/images/{{extension}}-icon.png" height="32"/>
                                        <a href="{{url}}">{{name}}</a>
                                    {{/if}}
                                    <input class="d-none" name="fileIds" value="{{id}}"/>
                                </td>

                                <td align="center">
                                    <a role="button" class="delete-file-btn" data-fileid="{{id}}">Șterge</a> 
                                    <span class="ms-2 me-2">|</span>
                                    <a href="/fisiere/{{id}}">Detalii</a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>

                </div>
            </div>

            <input type="hidden" name="lessonId" value="{{lessonId}}" id="lessonId"/>

            <div class="mt-4">
                <div class="col-md-7s offset-md-3s">
                    <button type="submit" name="saveBtn" class="btn btn-primary"><i class="bi bi-save"></i>
                        Salveaza</button>
                </div>
            </div>

        </section>
    </div>

    <div class="tab-pane show {{#if isExercisesTabActive}}active{{/if}}" id="exercises-tab-pane" role="tabpanel" aria-labelledby="exercises-tab" tabindex="1">
        <section class="mt-4">
            
            {{#each lesson.levelsObj.levels}}
                <section>
                    <div class="level-menu-div">
                        <h3 class="fs-4">{{name}}

                            <a class="fs-6 add-exercise-btn me-2" title="Adaugă exercițiu" 
                                href="/exercitii/adauga?lessonId={{@root.lessonId}}&levelId={{id}}">
                                <i class="bi bi-plus-square"></i>
                            </a>
                        </h3>
                    </div>

                    <div class="level-content-div mb-3">
                    {{#each exercises}}
                        <div class="exercise-div">
                            {{> exercise-statement @this}}
                            {{> exercise-menu @this levelId = ../id allowView=true allowEdit=true allowDelete=true allowMove=true }}
                            {{> exercise-panels @this }}
                        </div>
                    {{/each}}
                    </div>
                </section>
            {{/each}}

        </section>
    </div>

    <div class="tab-pane show {{#if isSheetsTabActive}}active{{/if}}" id="sheets-tab-pane" role="tabpanel" aria-labelledby="sheets-tab" tabindex="2">
        {{#if @root.user}}
        <section class="mt-4">
            {{!-- <div class="sheets-header-div mt-5 mb-4 border-bottom border-secondary">
                <h2>Fișe de lucru
                    <span class="text-muted fw-light">({{lesson.sheets.length}})</span>
                </h2>
            </div> --}}
            <div id="sheets-menu-div">
                <a id="create-new-sheet" href="/fise/adauga?lessonId={{lessonId}}" class="btn btn-primary btn-sm">
                <i class="bi bi-plus-lg"></i> Crează o fișă</a> cu exercițiile din cos.
            </div>
            <div id="sheets-content-div">
                <table class="table thead-light table-bordered table-hover mt-3">
                    <thead>
                        <tr>
                            <th>Nume</th>
                            <th>CreatLa (UTC)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each lesson.sheets}}
                        <tr>
                            <td>
                                <a href="/fise/{{_id}}">{{name}}{{#unless name}}Fără nume{{/unless}}
                            </td>
                            <td>
                                {{createdOn}}
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

        </section>
        {{/if}}
    </div>

    <div class="tab-pane show {{#if isGeneralTabActive}}active{{/if}}" id="general-tab-pane" role="tabpanel" aria-labelledby="general-tab" tabindex="3">
        <section class="mt-4">
            
            <div class="row mb-3">
                <div class="col-md-12">
                    <label for="nameInput" class="fw-bold">Titlul lecției:</label>
                    <input type="text" name="name" class="form-control" id="nameInput" placeholder=""
                        value="{{lesson.name}}">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-12">
                    <label for="descriptionInput" class="fw-bold">Descriere:</label>
                    <textarea type="text" name="description" class="form-control" id="descriptionInput"
                        placeholder="">{{lesson.description}}</textarea>
                    <small><p class="text-muted mb-0">Doar tu (proprietarul) poți vedea această descriere</p></small>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="positionSelect" class="fw-bold">Poziția în listă:</label>
                    <select name="position" class="form-select" id="positionSelect">
                        {{#select selectedPosition}}
                        {{#each availablePositions}}
                        <option value="{{index}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="isHiddenCheck" name="isHidden" {{#if
                    lesson.isHidden}}checked{{/if}}>
                <label class="form-check-label" for="isHiddenCheck">Ascunde</label>
                <small>
                    <p class="text-muted mb-0">Doar tu (proprietarul) poți vedea resursele ascunse</p>
                </small>
            </div>

            <div class="mt-4">
                <div class="col-md-7s offset-md-3s">
                    <button type="submit" name="saveBtn" class="btn btn-primary"><i class="bi bi-save"></i>
                        Salveaza</button>

                    {{#if isEditMode}}
                    <button type="submit"
                        formaction="/lectii/{{lessonId}}/sterge"
                        name="deleteBtn" class="btn btn-link"
                        onclick="return confirm('Ești sigur că vrei să ștergi această lecție?');"><i
                            class="bi bi-trash-fill"></i>
                        Șterge</button>
                    {{/if}}
                </div>
            </div>

            <input type="hidden" name="courseId" value="{{courseId}}"/>
            <input type="hidden" name="chapterId" value="{{chapterId}}"/>
            
        </section>
    </div>
</div>

</form>

{{!-- We cannot nest html form tags --}}
<form enctype="multipart/form-data">
    <input type="file" name="filefield1" id="upload-file-theory-input" multiple accept="image/*, application/pdf" class="d-none">
</form>

{{#section 'script'}}
<script type="module" src="/js/eventBinders/lesson-create-or-edit.event-binder.js"></script>
{{/section}}