<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/">Cursuri</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/{{courseId}}">{{courseCode}}</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/{{courseId}}/capitole/{{chapterId}}">
                Cap.{{inc chapterIndex}}</a></li>
        <li class="breadcrumb-item active">L.{{inc lessonIndex}}</li>
        
        {{#if canCreateOrEditCourse}}
        <li title="Editează" class="ms-auto"><a href="/cursuri/{{courseId}}/lectii/{{lessonId}}/modifica"><i class="bi bi-pencil me-1"></i></a></li>
        {{/if}}
    </ol>
</nav>

<h1>Lecția {{inc lessonIndex}}: {{lesson.name}}</h1>

<div class="text-muted">
    {{lesson.description}}
</div>

{{!-- {{toJSON lesson}} --}}

{{#if lesson.theory.textPreview}}
    <section>
        <h2 class="mt-3 mb-3 border-bottom border-secondary">
            Noțiuni teoretice
            <a class="fs-6" href="/cursuri/{{courseId}}/lectii/{{lessonId}}/teorie"><i class="bi bi-eye me-1"></i></a>
        </h2>
        
        <div id="content-preview-div">
            {{{lesson.theory.textPreview}}}
        </div>
    </section>
{{/if}}


{{#each lesson.sectionsObj.sections}}
    {{#if total}}
    <section id="section{{id}}">
        <div class="section-menu-div mt-5 mb-4 border-bottom border-secondary">
            <h2>{{name}}
                <span class="text-muted fw-light">({{total}})</span>

                {{#if total}}
                    <a class="toggle-section-btn h6 fw-normal" href="#">{{#if isActive}}Ascunde exercițiile{{else}}Afișează{{/if}}</a>
                {{/if}}
            </h2>
        </div>

        <div class="section-content-div mb-3 {{#unless isActive}}d-none{{/unless}}">
        {{#each levels}}
            {{#if exercises.length}}
            <section>
                <div class="level-menu-div">
                    <h3 class="fs-4">{{name}}</h3>
                </div>

                <div class="level-content-div mb-3">
                    {{#each exercises}}
                    <div class="exercise-div">
                        {{> exercise-statement @this}}
                        {{> exercise-menu @this sectionId = ../../id levelId = ../id allowView=true allowEdit=false allowDelete=false allowMove=false allowUpdateCart=true}}
                        {{> exercise-panels @this }}
                    </div>
                    {{/each}}
                </div>
            </section>
            {{/if}}
        {{/each}}
        </div>
    </section>
    {{/if}} 
{{/each}}

<section class="mt-5">
    <div class="sheets-header-div mt-5 mb-4 border-bottom border-secondary">
        <h2>Fișe de lucru
            <span class="text-muted fw-light">({{lesson.sheets.length}})</span>

            {{!-- {{#if true}}
                <a class="toggle-sheets-btn h6 fw-normal" href="#">{{#if isActive}}Ascunde fișele{{else}}Afișează{{/if}}</a>
            {{/if}} --}}
        </h2>
    </div>
    <div id="sheets-menu-div">
        <a id="create-sheet-in-lesson" href="/cursuri/{{courseId}}/lectii/{{lessonId}}/fise/adauga" class="btn btn-primary btn-sm">
        <i class="bi bi-plus-lg"></i> Crează o fișă</a> cu exercițiile din cos.
    </div>
    <div id="sheets-content-div">
        <table class="table thead-light table-bordered table-hover mt-3">
            <thead>
                <tr>
                    <th>Nume</th>
                    <th>Descriere</th>
                    {{!-- <th>Clasa</th>
                    <th>Ascuns</th>
                    <th>Activ</th> --}}
                </tr>
            </thead>
            <tbody>
                {{#each lesson.sheets}}
                <tr>
                    <td>
                        <a href="cursuri/{{@root.courseId}}/lectii/{{@root.lessonId}}/fise/{{_id}}">{{name}}{{#unless name}}Fără nume{{/unless}}
                    </td>
                    <td>{{description}}</td>
                    {{!-- <td>
                        {{grade}}
                    </td>
                    <td>
                        {{#if isHidden}}
                        <i class="bi bi-check-lg" style="font-size2: 24px;color: green;"></i>
                        {{/if}}
                    </td>
                    <td class="text-center">
                        {{#if isActive}}
                        <i class="bi bi-check-lg" style="font-size2: 24px;color: green;"></i>
                        {{/if}}
                    </td> --}}
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

</section>


<div class="mt-5 mb-5"></div>


{{#section 'script'}}
<script type="module" src="/js/eventBinders/course-lesson.event-binder.js"></script>
{{/section}}