<style>
    OL {
        counter-reset: item;
    }

    LI {
        display: block;
    }

    #agenda LI:before {
        /* only <li>s in agenda section */
        content: counters(item, ".") ". ";
        counter-increment: item
    }

    #table-of-contents LI:before {
        /* only <li>s in agenda section */
        content: counters(item, ".") ". ";
        counter-increment: item
    }
</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/">Cursuri</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/{{course._id}}">{{course.code}}</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/{{course._id}}/capitole/{{course.selectedChapter.id}}">
                Cap.{{inc course.selectedChapter.index}}</a></li>
    </ol>
</nav>

{{!-- <h1>Cap.{{inc course.selectedChapter.index}}: {{course.selectedChapter.name}}</h1> --}}
<h1>Lecția {{inc course.selectedLesson.index}}: {{course.selectedLesson.name}}
    {{#if canCreateOrEditCourse}}
    <a
        href="/cursuri/{{course._id}}/capitole/{{course.selectedChapter.id}}/lectii/{{course.selectedLesson.id}}/modifica">
        <i class="bi bi-pencil-fill" style="font-size: 50%"></i>
    </a>
    {{/if}}
</h1>

<div class="text-muted">
    {{course.selectedLesson.description}}
</div>

{{!-- <h4 class="mt-3">Noțiuni teoretice</h4>
<ol id="table-of-contents" class="pl-0">
    {{#each course.selectedChapter.lessons}}
    <li>
        <a href="/cursuri/{{@root.course._id}}/capitole/{{@root.course.selectedChapter.id}}/lectii/{{id}}">{{name}}</a>
    </li>
    {{/each}}
</ol> --}}



{{#if course.selectedLesson.articles}}
<h4 class="mt-3">1. Noțiuni teoretice</h4>
{{#each course.selectedLesson.articles}}


<div id="content-preview-div"
    style="border: 1px solid #cbcccc; padding: 6px 12px; background-color2: #fff9f8; min-height:58px">
    {{{content.textPreview}}}
</div>

<button id="toggle-content-editor-btn" type="button" class="btn btn-link p-0 mt-n1 float-end">Editează</button>
<a
    href="/cursuri/{{@root.course._id}}/capitole/{{@root.course.selectedChapter.id}}/lectii/{{@root.course.selectedLesson.id}}/articole/{{id}}/modifica">
    Adaugă noțiuni teoretice2</a>
<br>

{{/each}}

{{else}}
<a href="/cursuri/{{course._id}}/capitole/{{course.selectedChapter.id}}/lectii/{{course.selectedLesson.id}}/articole/adauga"
    class="btn btn-primary btn-sm">
    <i class="bi bi-plus-lg"></i> Adaugă noțiuni teoretice</a>
<hr />
{{/if}}


<h4 class="mt-3">2. Exerciții rezolvate</h4>
<a href="/cursuri/{{course._id}}/capitole/{{course.selectedChapter.id}}/lectii/adauga-exercițiu-rezolvat"
    class="btn btn-primary btn-sm">
    <i class="bi bi-plus-lg"></i> Adaugă exercițiu rezolvat</a>

<hr />
<h4 class="mt-3">3. Exerciții propuse</h4>

<a href="/cursuri/{{course._id}}/capitole/{{course.selectedChapter.id}}/lectii/adauga-exercițiu-propus"
    class="btn btn-primary btn-sm">
    <i class="bi bi-plus-lg"></i> Adaugă exercițiu propus</a>