<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        {{#if lessonId}}
            <li class="breadcrumb-item"><a href="/cursuri/">Cursuri</a></li>
            <li class="breadcrumb-item"><a href="/cursuri/{{courseId}}">{{courseCode}}</a></li>
            <li class="breadcrumb-item"><a href="/cursuri/{{courseId}}/capitole/{{chapterId}}">Cap.{{inc chapterIndex}}</a></li>
            <li class="breadcrumb-item"><a href="/cursuri/{{courseId}}/lectii/{{lessonId}}">L.{{inc lessonIndex}}</a></li>
        {{else}}
            <li class="breadcrumb-item"><a href="/fise/">Fișe</a></li>
        {{/if}}


        <li title="Vizualizează" class="ms-auto me-2"><a href="/fise/{{sheetId}}"><i class="bi bi-eye me-1"></i></a></li>
        {{#if canCreateOrEditSheet}}
        <li title="Editează"><a href="/fise/{{sheetId}}/modifica"><i class="bi bi-pencil me-1"></i></a></li>
        {{/if}}
    </ol>
</nav>

{{!-- <h1>Lecția {{inc lessonIndex}}: {{lesson.name}}</h1> --}}

<pre><code>{{{prettyJson}}}</code></pre>