<style>
    OL {
        counter-reset: item;
    }

    LI {
        display: block;
    }

    #agenda LI:before {
        /* only <li>s in agenda section */
        content: counters(item, ".") ". ";
        counter-increment: item
    }

    #table-of-contents LI:before {
        /* only <li>s in agenda section */
        content: counters(item, ".") ". ";
        counter-increment: item
    }
</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        {{#if lessonId}}
            <li class="breadcrumb-item"><a href="/cursuri/">Cursuri</a></li>
            <li class="breadcrumb-item"><a href="/cursuri/{{courseId}}">{{courseCode}}</a></li>
            <li class="breadcrumb-item"><a href="/cursuri/{{courseId}}/capitole/{{chapterId}}">Cap.{{inc chapterIndex}}</a></li>
            <li class="breadcrumb-item"><a href="/cursuri/{{courseId}}/lectii/{{lessonId}}">L.{{inc lessonIndex}}</a></li>
        {{else}}
            <li class="breadcrumb-item"><a href="/fise/">Fișe</a></li>
        {{/if}}

        <li title="Tipărește" class="ms-auto">
            <i role='button' class="bi bi-printer me-2" onclick="window.print()"></i>
        </li>

        {{!-- {{#if canCreateOrEditCourse}} --}}
        <li title="Editează" class2="ms-auto"><a href="/fise/{{sheet._id}}/modifica"><i class="bi bi-pencil me-1"></i></a></li>
        {{!-- {{/if}} --}}
    </ol>
</nav>

<h1>{{sheet.name}}</h1>

<h3 class=" font-weight-light">{{sheet.description}}</h3>

{{#each sheet.exercises}}
<div class="exercise-div">
    {{> exercise-statement @this}}
    {{> exercise-menu @this sectionId = ../../id levelId = ../id allowView=false allowEdit=false allowDelete=false allowMove=false allowUpdateCart=false}}
    {{> exercise-panels @this }}
    <input type="hidden" name="exerciseIdsInput" value="{{_id}}"/>
</div>
{{/each}}

{{#section 'script'}}
<script type="module" src="/js/eventBinders/sheet.event-binder.js"></script>
{{/section}}

