<style>
    .hide-content-editor {
        display: none;
    }
</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/">Cursuri</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/{{course._id}}">{{course.code}}</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/{{course._id}}/capitole/{{course.selectedChapter.id}}">
                Cap.{{inc course.selectedChapter.index}}</a></li>
        <li class="breadcrumb-item"><a
                href="/cursuri/{{course._id}}/capitole/{{course.selectedChapter.id}}/lectii/{{course.selectedLesson.id}}">
                Lecția {{inc course.selectedLesson.index}}</a></li>
    </ol>
</nav>

<h1>Lecția {{inc course.selectedLesson.index}}: {{course.selectedLesson.name}}</h1>


<form method="post" novalidate onsubmit="saveBtn.disabled = true; return true;">

    <div class="form-group">
        <h4 class="mt-3">Noțiuni teoretice</h4>

        <textarea id="content-editor-txt" rows="8" name="content"
            style="border-radius:0; border-bottom-width:0; border-color:#bb815d"
            class="form-control {{#if errors.content}}is-invalid {{/if}} {{#if isEditMode}}hide-content-editor2{{/if}}">{{{lesson.content.text}}}</textarea>
        <div class="invalid-feedback">{{errors.content.msg}}</div>


        <div id="content-preview-div"
            style="border: 1px solid #bb815d; padding: 6px 12px; background-color: #fff9f8; min-height:58px">
            {{{lesson.content.textPreview}}}
        </div>

        <button id="toggle-content-editor-btn" type="button" class="btn btn-link p-0 mt-n1 float-right">{{#if
            isEditMode}}Editează{{else}}Ascunde{{/if}}</button>
        <br>

        {{!-- <div class="text-right">
            <button id="toggle-content-editor-btn" type="button" class="btn btn-link p-0 mt-n1">{{#if
                isEditMode}}Editează{{else}}Ascunde{{/if}}</button>
        </div> --}}
    </div>

    <input type="hidden" name="id" value="{{lesson._id}}" />

    <div class="form-group">
        <div class="col-md-7s offset-md-3s">
            <button type="submit" name="saveBtn" class="btn btn-primary"><i class="bi bi-save"></i>
                Salveaza</button>
            <a href="/cursuri/{{course._id}}/capitole/{{course.selectedChapter.id}}/lectii/{{course.selectedLesson.id}}"
                class="btn btn-light"><i class="bi bi-x"></i> Renunță</a>
            {{#if isEditMode}}
            <button type="submit" formaction="/lectii/sterge" name="deleteBtn" class="btn btn-link"
                onclick="return confirm('Ești sigur că vrei să ștergi această lecție?');"><i
                    class="bi bi-trash-fill"></i>
                Șterge</button>
            {{/if}}

            <label class="col-md-3s col-form-label float-right"> Help:
                <a href="https://markdown-it.github.io/" target="_blank">markdon</a>
                <small><i class="bi bi-box-arrow-up-right" aria-hidden="true"></i></small>
                +
                <a href="https://katex.org/docs/supported.html" target="_blank">latex </a>
                <small><i class="bi bi-box-arrow-up-right" aria-hidden="true"></i></small></label>
        </div>

    </div>

</form>

{{#section 'script'}}
<script type="module" src="/js/lesson/lesson.main.js"></script>
{{/section}}