<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="/clase/{{class._id}}">Clasa:
                {{class.grade}}-{{class.name}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Prezența</li>
    </ol>
</nav>

<h1>Prezența</h1>
<h2 class="mb-5">Clasa a {{class.grade}}-a, {{class.name}}</h2>

{{#unless courses.length}}
<p>Nu exista date.</p>
{{/unless}}

{{#each courses}}
<div>

    <h3 class="mb-0" {{#if noCourse}} class="text-muted" {{/if}}>{{dateAsString}} {{#if course}}- <a
            href="/cursuri/{{_id}}">curs
            {{course}}</a> {{/if}}</h3>
    <div class="text-muted mb-2">{{description}}</div>

    {{#if noCourse}}
    <p style="padding-left:40px;" class="text-muted">Nu s-a tinut curs ({{noCourseReason}})</p>
    {{/if}}

    <ul class="mb-5">
        {{#each presences}}
        <li><a href="/elevi/{{student._id}}/prezenta">{{student.shortName}}</a>
            {{#if student.gradeAndLetter}}
            ({{student.gradeAndLetter}}){{/if}}{{#if isTemporaryPresenceFromOtherCourse}}, temporar{{/if}}
        </li>
        {{/each}}
    </ul>
</div>
{{/each}}