<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/Clase/">Clase</a></li>
        <li class="breadcrumb-item"><a href="/Clase/{{data.class._id}}">{{data.class.name}}</a></li>
        <li class="breadcrumb-item"><a href="/Clase/{{data.class._id}}/inscrieri">Inscrieri</a></li>
        <li class="breadcrumb-item active" aria-current="page">Adaugă</li>
    </ol>
</nav>

{{!-- <p>{{toJSON user}}</p> --}}
{{!-- <p>{{toJSON errors}}</p> --}}

{{#if errors.page}}
<div class="alert alert-danger">
    <i class="fa fa-exclamation-circle fa-lg mr-2"></i> {{errors.page.msg}}
</div>
{{/if}}

<h1>Cerere de înscriere</h1>

{{#if @root.user}}

{{!-- <div class="alert alert-info" role="alert">
    <i class="fa fa-info-circle mr-2 fa-lg"></i>
    Se presupune că ați citit descrierea, <strong>condițiile de participare</strong> și celelalte detalii aferente
    acestei clase. Dacă nu ați facut-o, o puteți face <a href="/Clase/{{data.class._id}}">aici</a>.
</div> --}}

<div class="mb-5">Prin completarea formularului de mai jos, părintele iși manifestă intenția de a-și înscrie copilul la
    una din clasele MateMaraton. Este posibil ca nu toate cererile să poată fi soluționate favorabil.</div>

<form method="post" id="enrollForm" action="/clase/{{data.class._id}}/inscrieri/adauga" novalidate
    onsubmit="saveBtn.disabled = true; return true;">

    <div class="form-group row">
        <label for="classId" class="col-md-3 col-form-label">Clasa MateMaraton</label>
        <div class="col-md-7">
            {{!-- <select name="classId" class="form-control" id="classIdSelect" disabled2 readonly2="readonly">
                {{#select data.selectedClassId}}
                <option value=""></option>
                {{#each data.classes}}
                <option value="{{_id}}">{{name}} (nivel {{level}})</option>
                {{/each}}
                {{/select}}
            </select> --}}
            <input type="text" name="parentName" id="parentName" disabled class="form-control"
                value="{{data.class.name}} (nivel {{data.class.level}})" />
            <p class="text-muted mb-0">Clasa la care se dorește înscrierea</p>
            <div class="invalid-feedback">{{errors.classId.msg}}</div>
        </div>
    </div>

    <div class="form-group row">
        <label for="parentName" class="col-md-3 col-form-label">Părinte</label>
        <div class="col-md-7">
            <input type="text" name="parentName" id="parentName" disabled class="form-control"
                value="{{data.user.lastName}} {{data.user.firstName}}" />
        </div>
    </div>

    <div class="form-group row">
        <label for="parentEmail" class="col-md-3 col-form-label">Email (părinte)</label>
        <div class="col-md-7">
            <input type="email" name="parentEmail" id="parentEmail" disabled class="form-control"
                value="{{data.user.email}}" />
        </div>
    </div>

    <div class="form-group row">
        <label for="studentLastName" class="col-md-3 col-form-label">Nume elev</label>
        <div class="col-md-7">
            <input type="text" name="studentLastName" id="studentLastName"
                class="form-control {{#if errors.studentLastName}}is-invalid {{/if}}"
                value="{{data.studentLastName.val}}" {{#if uiData.studentLastName.hasAutofocus}}autofocus {{/if}} />
            <div class="invalid-feedback">{{errors.studentLastName.msg}}</div>
        </div>
    </div>

    <div class="form-group row">
        <label for="studentFirstName" class="col-md-3 col-form-label">Prenume elev</label>
        <div class="col-md-7">
            <input type="text" name="studentFirstName" id="studentFirstName"
                class="form-control {{#if errors.studentFirstName}}is-invalid {{/if}}"
                value="{{data.studentFirstName.val}}" {{#if uiData.studentFirstName.hasAutofocus}}autofocus {{/if}} />
            <p class="text-muted mb-0">Puteți completa doar prenumele favorit</p>
            <div class="invalid-feedback">{{errors.studentFirstName.msg}}</div>
        </div>
    </div>


    <div class="form-group row">
        <label for="mathAvgGrade1" class="col-md-3 col-form-label">Media la matematică, sem.1</label>
        <div class="col-md-7">
            <input type="text" name="mathAvgGrade1" id="mathAvgGrade1"
                class="form-control {{#if errors.mathAvgGrade1}}is-invalid {{/if}}" value="{{data.mathAvgGrade1.val}}"
                {{#if uiData.mathAvgGrade1.hasAutofocus}}autofocus {{/if}} />
            <p class="text-muted mb-0">Media (calificativul) din
                anul precedent, sem.1</p>
            <div class="invalid-feedback">{{errors.mathAvgGrade1.msg}}</div>
        </div>
    </div>

    <div class="form-group row">
        <label for="mathAvgGrade2" class="col-md-3 col-form-label">Media la matematică, sem.2</label>
        <div class="col-md-7">
            <input type="text" name="mathAvgGrade2" id="mathAvgGrade2"
                class="form-control {{#if errors.mathAvgGrade2}}is-invalid {{/if}}" value="{{data.mathAvgGrade2.val}}"
                {{#if uiData.mathAvgGrade2.hasAutofocus}}autofocus {{/if}} />
            <p class="text-muted mb-0">Media (calificativul) din
                anul precedent, sem.2</p <div class="invalid-feedback">
            {{errors.mathAvgGrade2.msg}}
        </div>
    </div>

    <div class="form-group row">
        <label for="schoolName" class="col-md-3 col-form-label">Numele școlii</label>
        <div class="col-md-7">
            <input type="text" name="schoolName" id="schoolName"
                class="form-control {{#if errors.schoolName}}is-invalid {{/if}}" value="{{data.schoolName.val}}"
                {{#if uiData.schoolName.hasAutofocus}}autofocus {{/if}} />
            <p class="text-muted mb-0">Școala (și localitatea) unde învață copilul</p>
            <div class="invalid-feedback">{{errors.schoolName.msg}}</div>
        </div>
    </div>

    <div class="form-group row">
        <label for="observations" class="col-md-3 col-form-label">Observații</label>
        <div class="col-md-7">
            <textarea rows="3" type="text" name="observations" id="observations"
                class="form-control {{#if errors.observations}}is-invalid {{/if}}" value="{{data.observations.val}}"
                {{#if uiData.observations.hasAutofocus}}autofocus {{/if}}></textarea>
            <p class="text-muted mb-0">Puteți adăuga aici orice informații pe care instructorul considerați că e bine să
                le cunoască despre copilul dvs.</p>
            <div class="invalid-feedback">{{errors.observations.msg}}</div>
        </div>
    </div>

    <input type="hidden" name="parentId" value="{{data.user._id}}" />
    <input type="hidden" name="classId" value="{{data.class._id}}" />


    <div class="form-group row">
        <div class="col-md-7 offset-md-3">
            <button type="submit" name="saveBtn" class="btn btn-primary"><i class="fas fa-save"></i>
                Salveaza</button>
            <button type="button" class="btn btn-light" onclick='window.history.back();'>
                <i class="fas fa-times"></i>
                Renunta</button>
        </div>
    </div>
</form>
{{else}}
<div class="alert alert-info" role="alert">
    <i class="fa fa-info-circle mr-2 fa-lg"></i>
    Pentru a trimite o cerere de înscriere trebuie sa fii autentificat ca <strong>părinte</strong>. Te poți autentifica
    <a href="login?redirect_uri=clase/{{data.class._id}}/inscrieri/adauga">aici</a>
    sau, dacă nu ai cont, îti poti face unul gratuit <a href="/signup">aici</a>.
</div>
{{/if}}