<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item active">Fișe</li>

        {{#if canCreateOrEditCourse}}
        <li title="Editează" class="ms-auto"><a href="/fise/modifica"><i class="bi bi-pencil me-1"></i></a></li>
        {{/if}}
    </ol>
</nav>

<h1>Fișe</h1>

<a href="/fise/adauga" class="btn btn-primary"><i class="bi bi-plus-lg"></i> Adaugă fișă</a>

<form method="post" novalidate onsubmit="saveBtn.disabled = true; return true;"></form>
<table class="table thead-light table-bordered table-hover mt-5">
    <thead>
        <tr>
            <th>Nume</th>
            <th>CreatLa (UTC)</th>
            <th>Lecția</th>
        </tr>
    </thead>
    <tbody>
        {{#each sheets}}
        <tr>
            <td>
                <a href="/fise/{{_id}}">{{name}}{{#unless name}}Fără nume{{/unless}}
            </td>
            <td>{{createdOn}}</td>
            <td>
                {{#if lessonId}}
                <a href="/cursuri/{{courseId}}/lectii/{{lessonId}}">Lecție</a>
                {{/if}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>