<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        {{#if lessonId}}
            <li class="breadcrumb-item"><a href="/cursuri/">Cursuri</a></li>
            <li class="breadcrumb-item"><a href="/cursuri/{{courseId}}">{{courseCode}}</a></li>
            <li class="breadcrumb-item"><a href="/cursuri/{{courseId}}/capitole/{{chapterId}}">Cap.{{inc chapterIndex}}</a></li>
            <li class="breadcrumb-item"><a href="/cursuri/{{courseId}}/lectii/{{lessonId}}">L.{{inc lessonIndex}}</a></li>
        {{else}}
            <li class="breadcrumb-item"><a href="/fise/">Fișe</a></li>
        {{/if}}

    </ol>
</nav>

<h1>{{#if isEditMode}}Fișa {{inc chapterIndex}}: {{chapter.name}}{{else}}Fișă nouă{{/if}}</h1>

<form method="post" novalidate onsubmit="saveBtn.disabled = true; return true;">

    {{!-- Sheet type --}}
    <div class="row mt-3 mb-3">
        <div class="col-md-6">
            <label class="fw-bold">Tipul fișei:</label>
            <select name="sheetType" class="form-select" id="sheetTypeSelect">
                {{#select sheet.sheetType}}
                <option value=""></option>
                {{#each availableSheetTypes}}
                <option value="{{value}}">{{text}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
    </div>

    <div class="row mt-3 mb-3">
        <div class="col-md-12">
            <label for="nameInput" class="fw-bold">Numele fișei:</label>
            <input type="text" name="name" class="form-control" id="nameInput" placeholder=""
                value="{{sheet.name}}">
        </div>
    </div>

    {{!-- title --}}
    <div class="row">
        <div class="col-md-12 title-div">
            <label class="fw-bold"> Titlu: </label>

            <textarea id="title-editor-txt" rows="4" name="title"
                style="border-radius:0; border-bottom-width:0; border-color:#bb815d"
                class="form-control text-center {{#if errors.title}}is-invalid {{/if}} {{#if isEditMode}}d-none{{/if}}">{{{sheet.title}}}</textarea>
            <div class="invalid-feedback">{{errors.title.msg}}</div>


            <div id="title-preview-div" class="text-center mb-3"
                style="border: 1px solid #bb815d; padding: 6px 12px; background-color: #fff9f8; min-height:58px; _text-align: center;">
                {{{sheet.titlePreview}}}
            </div>

            {{!-- <div class="float-end">
                <a id="toggle-title-editor-btn" href="">{{#if isEditMode}}Editează{{else}}Ascunde{{/if}}</a>
            </div> --}}
        </div>
    </div>

    {{!-- <div class="row">
        <div class="col-md-6">
            <label for="positionSelect" class="fw-bold">Poziție:</label>
            <select name="position" class="form-select" id="positionSelect">
                {{#select selectedPosition}}
                {{#each availablePositions}}
                <option value="{{index}}">{{name}}</option>
                {{/each}}
                {{/select}}
            </select>
            <small>
                <p class="text-muted mb-0">Poziția în cadrul listei</p>
            </small>
        </div>
    </div> --}}

    {{!-- <div class="form-check">
        <input type="checkbox" class="form-check-input" id="isHiddenCheck" name="isHidden" {{#if
            chapter.isHidden}}checked{{/if}}>
        <label class="form-check-label" for="isHiddenCheck">Ascunde</label>
        <small>
            <p class="text-muted mb-0">Doar tu (proprietarul) poți vedea resursele ascunse</p>
        </small>
    </div> --}}

    <input type="hidden" name="courseId" value="{{courseId}}" />
    <input type="hidden" name="lessonId" value="{{lessonId}}"/>

    {{#each exercises}}
    <div class="exercise-div">
        {{> exercise-statement @this}}
        {{> exercise-menu @this sectionId = ../../id levelId = ../id allowView=false allowEdit=false allowDelete=false allowMove=false allowUpdateCart=false}}
        {{> exercise-panels @this }}
        <input type="hidden" name="exerciseIdsInput" value="{{_id}}"/>
    </div>
    {{/each}}

    <div class="mt-4">
        <div class="col-md-7s offset-md-3s">
            <button type="submit" name="saveBtn" class="btn btn-primary"><i class="bi bi-save"></i>
                Salveaza</button>
        </div>
    </div>

    {{!-- <div class="alert alert-info mt-4" role="alert">
        <i class="bi bi-info-circle me-2"></i>
        Salvează fișa pentru a putea tipări sau pentru a face alte modificări!
    </div> --}}

</form>




<div class="mt-5"></div>

{{#section 'script'}}
<script type="module" src="/js/eventBinders/sheet-create-or-edit.event-binder.js"></script>
{{/section}}