<nav aria-label="breadcrumb">
    <ol class="breadcrumb pe-2">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        {{#if lessonId}}
            <li class="breadcrumb-item"><a href="/cursuri/">Cursuri</a></li>
            <li class="breadcrumb-item"><a href="/cursuri/{{courseId}}">{{courseCode}}</a></li>
            <li class="breadcrumb-item"><a href="/cursuri/{{courseId}}/capitole/{{chapterId}}">Cap.{{inc chapterIndex}}</a></li>
            <li class="breadcrumb-item"><a href="/lectii/{{lessonId}}?view=fise">L.{{inc lessonIndex}}</a></li>
        {{else}}
            <li class="breadcrumb-item"><a href="/fise/">Fișe</a></li>
        {{/if}}

        <li class="ms-auto ms-3"><i role='button' class="bi bi-printer" onclick="window.print()"></i></li>
        {{#if canCreateOrEditCourse}}
        <li class="ms-3" title="Editează"><a href="/fise/{{sheet._id}}/modifica?type={{type}}"><i class="bi bi-pencil"></i></a></li>
        {{/if}}
    </ol>
</nav>

<ul class="nav nav-underline hide-on-print">
    <li class="nav-item">
        <a class="nav-link {{#if (eq type "statements")}}active{{/if}}" aria-current="page" href="/fise/{{sheet._id}}">Enunțuri</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{#if (eq type "answers")}}active{{/if}}" href="/fise/{{sheet._id}}?type=answers">Răspunsuri</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{#if (eq type "hints")}}active{{/if}}" href="/fise/{{sheet._id}}?type=hints">Indicații</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{#if (eq type "solutions")}}active{{/if}}" href="/fise/{{sheet._id}}?type=solutions">Soluții</a>
    </li>
</ul>

<div id="title-preview-div" class="text-center mt-4 mb-5">
    {{{sheet.titlePreview}}}
</div>

{{#each sheet.exercises}}
<div class="exercise-div _mb-5">
    {{> exercise-statement @this}}

    {{#if (eq @root.type "hints")}}
    <div class="hints-div mt-2">
        {{#each hints}}
            <div>{{{textPreview}}}</div>
        {{/each}}
        {{{answerPreview}}}
    </div>
    {{/if}}

    {{#if (eq @root.type "answers")}}
    <div class="answer-div mt-2">
        {{{answerPreview}}}
    </div>
    {{/if}}

    {{#if (eq @root.type "solutions")}}
        {{#if solutionPreview}}
        <div class="fw-bold mt-2">Soluție:</div>
        <div class="solution-div _mt-2">
            {{{solutionPreview}}}
        </div>
        {{else}}
         <div class="mt-2">Lipsește soluția</div>
        {{/if}}
    {{/if}}

</div>
{{/each}}

{{#section 'script'}}
<script type="module" src="/js/eventBinders/sheet.event-binder.js"></script>
{{/section}}

