<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        {{#if lessonId}}
            <li class="breadcrumb-item"><a href="/cursuri/">Cursuri</a></li>
            <li class="breadcrumb-item"><a href="/cursuri/{{courseId}}">{{courseCode}}</a></li>
            <li class="breadcrumb-item"><a href="/cursuri/{{courseId}}/capitole/{{chapterId}}">Cap.{{inc chapterIndex}}</a></li>
            <li class="breadcrumb-item"><a href="/lectii/{{lessonId}}?view=fise">L.{{inc lessonIndex}}</a></li>
        {{else}}
            <li class="breadcrumb-item"><a href="/fise/">Fișe</a></li>
        {{/if}}

        <li title="Json" class="ms-auto me-2"><a href="/fise/{{sheet._id}}/json"><i class="bi bi-braces me-1"></i></a></li>
        <li title="Editează" class="_ms-auto"><a href="/fise/{{sheet._id}}"><i class="bi bi-eye me-1"></i></a></li>

    </ol>
</nav>

<h1>{{sheet.name}}</h1>

<form method="post" novalidate onsubmit="saveBtn.disabled = true; return true;">

    <div class="row mt-3 mb-3">
        <div class="col-md-12">
            <label for="nameInput" class="fw-bold">Numele fișei:</label>
            <input type="text" name="name" class="form-control" id="nameInput" placeholder=""
                value="{{sheet.name}}">
        </div>
    </div>

    {{!-- title --}}
    <div class="row mb-5">
        <div class="col-md-12 title-div">
            <label class="fw-bold"> Titlu: </label>

            <textarea id="title-editor-txt" rows="4" name="title"
                style="border-radius:0; border-bottom-width:0; border-color:#bb815d"
                class="form-control text-center {{#if errors.title}}is-invalid {{/if}} {{#if isEditMode}}d-none{{/if}}">{{{sheet.title}}}</textarea>
            <div class="invalid-feedback">{{errors.title.msg}}</div>


            <div id="title-preview-div" class="text-center"
                style="border: 1px solid #bb815d; padding: 6px 12px; background-color: #fff9f8; min-height:58px; _text-align: center;">
                {{{sheet.titlePreview}}}
            </div>
        </div>
    </div>

    {{#each sheet.exercises}}
    <div class="exercise-div">
        {{> exercise-statement @this}}
        <input type="hidden" name="exerciseIdsInput" value="{{_id}}"/>
    </div>
    {{/each}}

    {{!-- <input type2="hidden" name="courseId" value="{{courseId}}" /> --}}

    <div class="mt-4">
        <div class="col-md-7s offset-md-3s">
            <button type="submit" name="saveBtn" class="btn btn-primary"><i class="bi bi-save"></i>
                Salveaza</button>

            <button type="submit" formaction="/fise/{{sheet._id}}/sterge"
                name="deleteBtn" class="btn btn-link"
                onclick="return confirm('Ești sigur că vrei să ștergi această fișă?');"><i
                    class="bi bi-trash-fill"></i>Șterge</button>
        </div>
    </div>

</form>

<div class="mt-5"></div>

{{#section 'script'}}
<script type="module" src="/js/eventBinders/sheet-create-or-edit.event-binder.js"></script>
{{/section}}