{{#if answerPreview}}
    <div class="answer-div d-none">
        <div class="mt-2">{{{answerPreview}}}</div>
    </div>
{{/if}}

{{#if hints}}
    <div class="hints-div d-none" data-total-hints="{{hints.length}}">
        <div class="mt-2">
            {{#each hints}}
                <div {{#if (ne @index 0)}} class="d-none" {{/if}} data-hint-nr="{{inc @index}}">{{{textPreview}}}</div>
            {{/each}}
            {{#if (gt hints.length 1)}}
                <button type="button" class="show-next-hint-btn btn btn-link p-0">Vezi următoarea indicație</button>
            {{/if}}
        </div>
    </div>
{{/if}}

{{#if solutionPreview}}
    <div class="solution-div d-none">
        <div class="fw-bold mt-2">Soluție:</div>
        <div style2"border: 1px solid lightgray; padding: 6px 12px; background-color: min-height:58px">
            {{{solutionPreview}}}
        </div>
    </div>
{{/if}}