<div class="statement-div mt-4" style="border: 1px solid #b99888; padding: 6px 12px; background-color: #fff9f8; min-height:58px">
    {{!-- {{toJSON @this}} --}}
    {{{statementPreview}}}
    {{#if answerOptions}}
        <div class="row">
        {{#each answerOptions}}
        <div class="col text-nowrap">{{{textPreview}}}</div>
        {{/each}}
        </div>
    {{/if}}

    <div class="exercise-details-div clearfix">
        <div class="float-start"></div>
        <div class="float-end">
            {{#if authorAndSource1}}<span class="text-muted fw-light fst-italic"><small>{{authorAndSource1}}</small></span>{{/if}}
        </div>

    </div>

    <div class="exercise-details-div clearfix">
        <div class="float-start"></div>
        <div class="float-end">
            {{#if source2}}<span class="text-muted fw-light fst-italic"><small>{{source2}}</small></span>{{/if}}
        </div>
    </div>
</div>