<style>
    .navbar {
        border-bottom: 1px solid #E5E9EF;
    }
</style>

{{!-- no sections (head/script) in partials as handlebars doesn't support more that 2 similar sections on the same page
if 2 similar sections are used, the last one will override the first one --}}

<nav class="navbar navbar-expand-lg navbar-light bg-white hide-on-print">
    <div class="container-fluid">
        <a class="navbar-brand pt-0 pb-0" href="/"><img src='/matemaraton-logo-square.png' width="37">
            MateMaraton</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>

                {{#if @root.user.isAdmin}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/admin" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Admin
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/exercitii">Exerciții</a></li>
                        <li><a class="dropdown-item" href="/cursuri">Cursuri</a></li>
                        <li><a class="dropdown-item" href="/clase">Clase</a></li>
                        <li><a class="dropdown-item" href="/fise">Fișe</a></li>
                        <li><a class="dropdown-item" href="/fisiere">Fisiere</a></li>
                        <li><a class="dropdown-item" href="/sectiuni">Secțiuni</a></li>
                        <li><a class="dropdown-item" href="/materiale">Materiale</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/utilizatori">Utilizatori</a></li>
                    </ul>
                </li>
                {{/if}}

            </ul>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                {{#if @root.user}}
                {{!-- We hide it by default in order to avoid flickering --}}
                <li id="cart-li" class="nav-item dropdown d-none">
                    <a class="nav-link dropdown-toggle d-inline" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        <span id="cart-span" class="position-relative me-2 d-inline-block">
                            <i class="fs-4 bi bi-bag"></i>
                            <span id="cart-badge" class="position-absolute top-0 badge rounded-pill bg-danger hide-on-empty-cart" style="left:12px"></span>
                        </span>Exerciții</a>

                    <ul id="cart-menu-ul" class="dropdown-menu">
                        {{!-- insert items here with javascript --}}
                        <li class="hide-on-empty-cart"><hr class="dropdown-divider"></li>
                        {{!-- <li class="hide-on-empty-cart"><a id="create-new-sheet" class="dropdown-item" href="#">Adaugă la o fișă nouă</a></li> --}}
                        <li class="hide-on-empty-cart"><span class="dropdown-item" type="button" onclick="alert('Mergi la lecția dorită, apoi folosește butonul <Crează o fișă>.')">Adaugă la o fișă nouă</span></li>
                        <li class="hide-on-empty-cart"><span class="dropdown-item" type="button" onclick="alert('Mergi la fișa dorită, apoi folosește butonul <Adaugă din coș>.')">Adaugă la o fișă existentă</span></li>
                        <li class="hide-on-empty-cart"><hr class="dropdown-divider"></li>
                        <li><span id="clear-cart" type="button" class="dropdown-item">Golește coșul</span></li> 
                    </ul>
                </li>
                {{/if}}

                {{#if @root.user}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <!--<img src='//www.gravatar.com/avatar/6f137572059f8c0f23363e8678d7a795' width="20" height="20">-->
                        {{@root.user.firstName}} {{@root.user.lastName}}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/change-password">Schimbă parola</a></li>
                        <li><a class="dropdown-item" href="/reset-password">Resetează parola</a></li>
                        <li><a class="dropdown-item"
                                href="/logout{{#if @root.isNotRootPath}}?redirect_uri={{@root.redirectUri}}{{/if}}">Log
                                out</a></li>
                        {{!-- <li><a class="dropdown-item" href="/logout">Log out</a></li> --}}
                    </ul>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Cont nou</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                        href="/login{{#if @root.isNotRootPath}}?redirect_uri={{@root.redirectUri}}{{/if}}">Login</a>
                </li>
                {{/if}}
            </ul>

        </div>
    </div>
</nav>