<div class="container-fluid">

    <h1>Creaza cont nou</h1>

    {{!-- <p>{{toJSON errors}}</p> --}}
    {{!-- <p>{{toJSON data}}</p> --}}

    <form method="post" action="/signup" novalidate onsubmit="saveBtn.disabled = true; return true;">
        <div class="form-group row">
            <label for="email" class="col-md-3 col-form-label required">Email</label>
            <div class="col-md-7">
                <input type="email2" name="email" id="email"
                    class="form-control {{#if data.email.msg}}is-invalid {{/if}}" value="{{data.email.val}}"
                    {{#if data.email.hasAutofocus}}autofocus {{/if}} />
                <div class=" invalid-feedback">{{data.email.msg}}</div>
            </div>
        </div>

        <div class="form-group row">
            <label for="password" class="col-md-3 col-form-label required">Parola</label>
            <div class="col-md-7">
                <input type="password" name="password" id="password"
                    class="form-control {{#if data.password.msg}}is-invalid {{/if}}"
                    {{#if data.password.hasAutofocus}}autofocus {{/if}} />
                <p class="text-muted mb-0">Minim 6 caractere.</p>
                <div class="invalid-feedback">{{data.password.msg}}</div>
            </div>
        </div>

        <div class="form-group row">
            <label for="confirmPassword" class="col-md-3 col-form-label required">Confirma parola</label>
            <div class="col-md-7">
                <input type="password" name="confirmPassword" id="confirmPassword"
                    class="form-control {{#if data.confirmPassword.msg}}is-invalid {{/if}}">
                <div class="invalid-feedback">{{data.confirmPassword.msg}}</div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-7 offset-md-3">
                <button type="submit" name="saveBtn" class="btn btn-primary"><i class="fas fa-save"></i>
                    Salveaza</button>
            </div>
        </div>
    </form>

    {{!-- <form method="post" action="/signup" class="form-horizontal" novalidate>

        <div id="emailFg" class="form-group has-feedback">
            <label class="col-md-2 control-label required">Email</label>
            <div class="col-md-4">
                <input type="email" name="email" class="form-control is-invalid" value="{{email}}"
                    {{#unless email}}autofocus{{/unless}} />
                <div class="invalid-feedback">
                    Please choose a username.
                </div>
            </div>
        </div>

        <div id="pswFg" class="form-group">
            <label class="col-md-2 control-label required">Parola </label>
            <div class="col-md-4">
                <input type="password" name="password" class="form-control" autocomplete="off"
                    {{#if email}}autofocus{{/if}} />
                <p class="text-muted" style="margin-bottom:0">Adauga o parola de minim 6 caractere.</p>
                <p id="pswErr" class="help-block"></p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-floppy-disk"></span>
                    Salveaza</button>
            </div>
        </div>

    </form> --}}

    <div class="form-group row">
        <div class="col-md-7 offset-md-3">
            Ti-ai uitat parola? <a href="/resetpassword">Reseteaza parola.</a>
        </div>
    </div>


</div>

{{#section 'script'}}
{{!-- <script src="/js/account/register.js"></script> --}}
{{/section}}