<nav aria-label="breadcrumb">
    <ol class="breadcrumb pe-2">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/">Cursuri</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/{{courseId}}">{{courseCode}}</a></li>
        <li class="breadcrumb-item active">Cap.{{inc chapterIndex}}</li>

        <li title="Vizualizează" class="ms-auto ms-3"><a href="/cursuri/{{courseId}}/capitole/{{chapterId}}"><i class="bi bi-eye"></i></a></li>
        {{#if canCreateOrEditCourse}}
        <li title="Editează" class="ms-3"><a href="/cursuri/{{courseId}}/capitole/{{chapterId}}/modifica"><i class="bi bi-pencil"></i></a></li>
        {{/if}}
    </ol>
</nav>

<h1>{{chapterName}}</h1>

<pre><code class="hljs language-json">{{{courseChapterAsPrettyJson}}}</code></pre>