<nav aria-label="breadcrumb">
    <ol class="breadcrumb pe-2">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/cursuri">Cursuri</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/{{courseId}}">{{courseCode}}</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/{{courseId}}/capitole/{{chapterId}}">
                Cap.{{inc chapterIndex}}</a></li>
        <li class="breadcrumb-item"><a href="/lectii/{{lessonId}}?view=exercitii">L.{{inc lessonIndex}}</a></li>
        <li class="breadcrumb-item active">E.{{exercise.code}}</li>

        <li class="ms-auto ms-3"><i role='button' class="bi bi-printer" onclick="window.print()"></i></li>
        {{#if canCreateOrEditCourse}}
        <li title="Modifică" class="ms-3"><a href="/exercitii/{{exercise._id}}/modifica"><i class="bi bi-pencil"></i></a></li>
        {{/if}}
    </ol>
</nav>

{{!-- {{toJSON @root}} --}}

<h1 class="hide-on-print">Exercițiul {{exercise.code}}</h1>

<div class="exercise-div">
    {{> exercise-statement exercise}}
    {{> exercise-menu exercise levelId = levelId }}
    {{> exercise-panels exercise }}
</div>

{{#section 'script'}}
<script type="module" src="/js/eventBinders/exercise.event-binder.js"></script>
{{/section}}
