<nav aria-label="breadcrumb">
    <ol id="exercise-id-container" class="breadcrumb" data-exercise-id="{{exercise._id}}">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        {{#if contest}}
        <li class="breadcrumb-item"><a href="/concursuri">Concursuri</a></li>
        <li class="breadcrumb-item"><a href="/concursuri/{{contest._id}}">{{contest.newCode}}</a></li>
        <li class="breadcrumb-item"><a href="/concursuri/{{contest._id}}/exercitii">Exerciții</a></li>
        {{else}}

        {{#if canCreateOrEditExercise}}
        <li class="breadcrumb-item"><a href="/exercitii">Exerciții</a></li>
        {{else}}
        <li class="breadcrumb-item"><a href="/teste">Teste</a></li>
        {{/if}}

        {{/if}}

        <li class="breadcrumb-item active">E.{{exercise.code}}</li>
    </ol>
</nav>


{{!-- <h1>Exercițiul {{exercise.code}}</h1> --}}

{{!-- <h3 class="mb-4"><span class="font-weight-light text-secondary2">{{exercise.contestName}}</span>
</h3> --}}

<h1>Exercițiul {{exercise.code}}</h1>
<h4>{{exercise.contestName}}</h4>

<div class="form-group mt-3 hide-on-print">
    <div class="col-md-7s offset-md-3s">

        {{#if canCreateOrEditExercise}}
        <a href="{{#if contest}}/concursuri/{{contest._id}}{{/if}}/exercitii/{{exercise._id}}/modifica"
            class="btn btn-primary"><i class="bi bi-pencil-fill"></i> Modifică</a>
        {{/if}}

        {{#if canDeleteExercise}}
        <form method="post" onsubmit="deleteBtn.disabled = true; return true;" style="display:inline">
            <input type="hidden" name="exerciseId" value="{{exercise._id}}" />
            <input type="hidden" name="contestId" value="{{contest._id}}" />

            <button type="submit" formaction="{{#if contest}}/concursuri{{/if}}/exercitii/sterge" title="Șterge"
                name="deleteBtn" class="btn btn-light btn-outline-primary"
                onclick="return confirm('Ești sigur că vrei să ștergi acest exercițiu?');"><i
                    class="bi bi-trash-fill"></i></button>
        </form>
        {{/if}}



        {{!-- <button type="submit" formaction="/exercitii/sterge" name="deleteBtn" class="btn btn-link"
            onclick="return confirm('Ești sigur că vrei să ștergi acest exercițiu?');"><i class="bi bi-trash-fill"></i>
            Șterge</button> --}}




        <button type="button" class="btn btn-light btn-outline-primary" title="Tipărește" onclick="window.print()">
            <i class="bi bi-printer-fill"></i>
        </button>
    </div>
</div>

<div style="border: 1px solid #bb815d; padding: 6px 12px; background-color: #fff9f8; min-height:58px" class="mt-2">
    {{{exercise.question.statement.textPreview}}}
    {{#if exercise.question.answerOptions}}
    <div class="row">
        {{#each exercise.question.answerOptions}}
        <div class="col text-nowrap">{{{textPreview}}}</div>
        {{/each}}
    </div>
    {{/if}}
</div>
{{!-- <div class="font-italic small text-right text-muted">{{exercise.contestName}}</div>
<div class="font-italic small text-right text-muted">{{exercise.sourceName}}</div> --}}


{{!-- {{#if exercise.question.answer}}
<div>
    <button id="toggle-answer-btn" type="button" class="btn btn-link p-0">Rezultat final</button>
</div>
<div id="answer-div" class="d-none2">
    {{#if exercise.question.answerOptions}}
    {{{exercise.question.correctAnswerPreview}}}
    {{else}}
    {{{exercise.question.answer.textPreview}}}
    {{/if}}
</div>
{{/if}} --}}


{{#if exercise.question.hints}}
<div>
    <button id="toggle-hints-btn" type="button" class="btn btn-link p-0">Indicații
    </button>
    <span class="align-middle text-muted">({{exercise.question.hints.length}})</span>
    {{!-- <span class="align-middle text-muted ml-2 mr-2">|</span>
    <button id2="toggle-hints-btn" type="button" class="btn btn-link p-0">Vezi următoarea indicație
    </button> --}}
</div>
<div id="hints-div" class="d-none mb-4" data-total-hints="{{exercise.question.hints.length}}"
    style="border: 1px solid #007bff; padding: 6px 12px; background-color: #f5faff; min-height:58px">
    {{#each exercise.question.hints}}
    <div {{#if (ne @index 0)}} class="d-none" {{/if}} data-hint-nr="{{inc @index}}">{{{textPreview}}}</div>
    {{/each}}
    {{#if (gt exercise.question.hints.length 1)}}
    <button id="show-next-hint-btn" type="button" class="btn btn-link p-0">Vezi următoarea indicație</button>
    {{/if}}
</div>
{{/if}}


{{#if exercise.question.solution.textPreview}}
<div id="solution-div" class="d-none2">
    <div class="font-weight-bold mt-2">Soluție:</div>
    <div style2"border: 1px solid lightgray; padding: 6px 12px; background-color: min-height:58px">
        {{{exercise.question.solution.textPreview}}}
    </div>
</div>

<hr class="mb-1">
{{/if}}



<div class="row">
    <div class="col text-nowrap">
        {{#if exercise.question.answerOptions}}
        {{{exercise.question.correctAnswerPreview}}}
        {{/if}}

        {{#if exercise.question.answer.textPreview}}
        {{{exercise.question.answer.textPreview}}}
        {{/if}}
    </div>
    {{#if question.solution.textPreview}}
    <div class="col text-nowrap font-italic font-weight-light small text-right text-muted">Rezolvare: L. Măran</div>
    {{/if}}
</div>

{{!--
<hr> --}}

{{#if canCreateOrEditExercise}}
{{#unless contest}}
<div class="mt-4">Rezolvarea mea:</div>
<div class="drop-area">
    <form class="my-form">

        <div class="form-group">
            <input type="file" id="upload-file-select-input" multiple accept="image/*" class="d-none">
            <label class="upload-file-select-label" for="upload-file-select-input">
                <i class="bi bi-paperclip"></i>
                Adaugă poza
            </label>

            <span class="drag-message-span text-muted font-weight-light">sau trage poza aici</span>
            <div class="upload-file-error-div invalid-feedback">Mesaj de eroare</div>
            <progress class="progress-bar d-none w-100" max=100 value=0></progress>
            <div class="gallery mt-3"></div>
        </div>

        <div class="form-group mt-2">
            <textarea rows="2" name="comment-textarea" placeholder="Comentariu (opțional)..."
                style="border-radius:0; border-color:#ccc"
                class="comment-textarea form-control {{#if errors.lastName}}is-invalid {{/if}} {{#if isEditMode}}d-none{{/if}}"></textarea>
            <div class="invalid-feedback">{{errors.answer.msg}}</div>
        </div>

        <div class="form-group mb-0">
            <button type="button" id="my-solution-submit-btn" class="btn btn-primary btn-sm">
                <i class="bi bi-cursor-fill"></i>
                Trimite rezolvarea
            </button>
        </div>

    </form>
</div>
{{/unless}}
{{/if}}

<br>

{{#section 'script'}}
<script type="module" src="/js/exercise/exercise.main.js"></script>
{{/section}}