<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/cursuri">Cursuri</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/{{courseId}}">{{courseCode}}</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/{{courseId}}/capitole/{{chapterId}}">
                Cap.{{inc chapterIndex}}</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/{{courseId}}/lectii/{{lessonId}}">L.{{inc lessonIndex}}</a></li>

        <li class="breadcrumb-item active">E.{{exercise.code}}</li>

        {{#if canCreateOrEditCourse}}
        <li title="Modifică" class="ms-auto"><a href="/exercitii/{{exercise._id}}/modifica"><i class="bi bi-pencil me-1"></i></a></li>
        {{/if}}
    </ol>
</nav>

{{!-- {{toJSON @root}} --}}

<h1 class="hide-on-print">Exercițiul {{exercise.code}}</h1>

<div class="mt-3 hide-on-print">
    <div class="col-md-7s offset-md-3s">

        {{#if canCreateOrEditExercise}}
        <a href="/exercitii/{{exercise._id}}/modifica"
            class="btn btn-primary"><i class="bi bi-pencil-fill"></i> Modifică</a>
        {{/if}}

        {{#if canDeleteExercise}}
        <form method="post" onsubmit="deleteBtn.disabled = true; return true;" style="display:inline">
            <input type="hidden" name="exerciseId" value="{{exercise._id}}" />

            <button type="submit" formaction="/exercitii/sterge" title="Șterge"
                name="deleteBtn" class="btn btn-light btn-outline-primary"
                onclick="return confirm('Ești sigur că vrei să ștergi acest exercițiu?');"><i
                    class="bi bi-trash-fill"></i></button>
        </form>
        {{/if}}

        <button type="button" class="btn btn-sm btn-light btn-outline-primary" title="Tipărește" onclick="window.print()">
            <i class="bi bi-printer"></i> Tipărește
        </button>
    </div>
</div>

<div class="exercise-div">
    {{> exercise-statement exercise}}
    {{> exercise-menu exercise levelId = levelId }}
    {{> exercise-panels exercise }}
</div>

{{#section 'script'}}
<script type="module" src="/js/eventBinders/exercise.event-binder.js"></script>
{{/section}}
