<style>
    .source {
        _font-style: italic;
        _font-size: 8px;
    }
</style>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item active" aria-current="page">Exerciții</li>
    </ol>
</nav>

<h1>Exerciții</h1>
{{!-- <h2 class="mb-5">Clasa a {{class.grade}}-a, {{class.name}}</h2> --}}

{{!-- <ul>
    {{#each exercises}}
    <li>
        <a href="/exercitii/{{_id}}">Exercițiul {{code}}</a>
        <div>{{question.statement.text}}</div>
        <textarea>{{question.statement.text}}</textarea>
    </li>
    {{/each}}
</ul> --}}

{{!-- <button class=btn btn-primary></button> --}}
</br>
<a href="/exercitii/adauga" class="btn btn-primary"><i class="fa fa-plus"></i> Adaugă exercițiu</a>

</br>
</br>

{{#each exercises}}

{{!-- <a href="/exercitii/{{code}}">Exercițiul {{code}}</a> --}}
{{{question.statement.textPreview}}}

<div class="font-italic small text-right text-muted">Cls.{{grade}}, {{branch}}</div>
<div class="font-italic small text-right text-muted">{{contestName}}</div>
<div class="font-italic small text-right text-muted">{{sourceName}}</div>

</br>
</br>
{{/each}}