<style>
    .hidePresence {
        display: none;
    }

    .hideStudent {
        display: none;
    }


    .show {
        opacity: 1;
    }

    .hide {
        opacity: 0;
        transition: opacity 800ms;
    }
</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {{!-- <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li> --}}
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/exercitii">Exerciții</a></li>
        <li class="breadcrumb-item active" aria-current="page">
            {{#if isEditMode}} Edit: E.{{exercise.code}}{{else}}Adaugă{{/if}}
        </li>
    </ol>
</nav>

<h1 id="exercise-id-container" data-exercise-id="{{exercise._id}}">
    {{#if isEditMode}} Edit: Exercițiul {{exercise.code}}{{else}} Exercițiu nou:{{/if}}
</h1>



{{!-- <div>{{id}}</div> --}}


<form method="post" action="/exercitii/createoredit" novalidate onsubmit="saveBtn.disabled = true; return true;">

    <div class="form-group row2">
        <label for="lastName" class="col-md-3s col-form-label required"> Enunț:
            (<a href="https://markdown-it.github.io/" target="_blank">markdon</a>
            <small><i class="fas fa-external-link-alt text-muted text-small" aria-hidden="true"></i></small>
            +
            <a href="https://katex.org/docs/supported.html" target="_blank">latex </a>
            <small><i class="fas fa-external-link-alt text-muted text-small" aria-hidden="true"></i></small>)</label>
        <div class="col-md-7s">
            {{!-- <input type="text" name="lastName" id="lastName"
                class="form-control {{#if errors.lastName}}is-invalid {{/if}}" value="{{data.lastName.val}}"
                {{#if uiData.lastName.hasAutofocus}}autofocus {{/if}} /> --}}
            <textarea id="exercise-statement-txt" rows="8" name="statement"
                class="form-control {{#if errors.lastName}}is-invalid {{/if}}" value="{{data.lastName.val}}"
                cols2="150">{{{exercise.question.statement.text}}}</textarea>
            <div class="invalid-feedback">{{errors.lastName.msg}}</div>
        </div>
    </div>





    <div class="form-group row2">
        {{!-- <label for="lastName" class="col-md-3s col-form-label required">Preview:</label> --}}
        <div class="col-md-7s">
            <div id="katex-preview-div" class="border p-2" style="background-color: #f7f7f7; min-height:58px"
                style2="font-family: KaTeX_Main; font-size: 1.1em;">
                {{{exercise.question.statement.textPreview}}}</div>
            <div class="invalid-feedback">{{errors.lastName.msg}}</div>
        </div>
    </div>

    {{#if isEditMode}}
    <div class="form-group row2">
        <div class="col-md-7s offset-md-3s">
            <button class="btn btn-primary" id="save-btn">Salvează</button> <i id="save-statement-status-icon"
                class="fa fa-check mr-2 fa-lg hide" style="color:green;"></i>
        </div>
    </div>
    {{/if}}

    <div class="form-group">
        <label for="exampleInputPassword1">Sursa:</label>
        <input type="text" name="source" class="form-control" id="exampleInputPassword1" placeholder=""
            value="{{exercise.source}}">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Clasa:</label>
        <input type="text" name="class" class="form-control" id="exampleInputPassword1" placeholder=""
            value="{{exercise.grade}}">
    </div>

    <input type="hidden" name="code" value="{{exercise.code}}" />


    <div class="form-group row2">
        <div class="col-md-7s offset-md-3s">
            <button type="submit" name="saveBtn" class="btn btn-primary"><i class="fas fa-save"></i>
                Salveaza</button>
            {{!-- <button type="button" class="btn btn-light" onclick='window.history.back();'>
                <i class="fas fa-times"></i>
                Renunta</button> --}}
            <a href="/exercitii" class="btn btn-light"><i class="fa fa-times"></i> Renunță</a>
            {{#if isEditMode}}
            <button type="submit" formaction="/exercitii/delete" name="deleteBtn" class="btn btn-link"
                onclick="return confirm('Ești sigur că vrei să ștergi acest exercițiu?');"><i
                    class="fas fa-trash-alt"></i>
                Șterge</button>
            {{/if}}
        </div>
    </div>

</form>



{{!-- Enunț:
<textarea id="exercise-statement-txt" rows="15" cols="150">{{{exercise.question.statement.text}}}</textarea>

<button id="save-btn">Salvează</button> <i id="save-statement-status-icon" class="fa fa-check mr-2 fa-lg hide"
    style="color:green;"></i>

<div id="katex-preview-div" style2="font-family: KaTeX_Main; font-size: 1.1em;">
    {{{exercise.question.statement.textPreview}}}</div> --}}


{{#section 'script'}}
<script type="module" src="/js/exercise/main.js"></script>
{{/section}}