<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>

        {{#if contest}}
        <li class="breadcrumb-item"><a href="/concursuri">Concursuri</a></li>
        <li class="breadcrumb-item"><a href="/concursuri/{{contest._id}}">{{contest.newCode}}</a></li>
        <li class="breadcrumb-item"><a href="/concursuri/{{contest._id}}/exercitii">Exerciții</a></li>
        {{else}}

        <li class="breadcrumb-item"><a href="/exercitii">Exerciții</a></li>
        {{/if}}

        <li class="breadcrumb-item active">
            {{#if isEditMode}}E.{{exercise.code}}{{else}}Adaugă{{/if}}</li>

    </ol>
</nav>

<h1 id="exercise-id-container" data-exercise-id="{{exercise._id}}">
    {{#if isEditMode}}Exercițiul {{exercise.code}}{{else}} Exercițiu nou:{{/if}}
</h1>


<form method="post" action="/exercitii/adauga" novalidate onsubmit="saveBtn.disabled = true; return true;">

    {{!-- Exercise type --}}
    <div class="row mt-3 mb-3">
        <div class="col-md-6">
            <label class="fw-bold">Tipul exercițiului:</label>
            <select name="exerciseType" class="form-select" id="exerciseTypeSelect">
                {{#select exercise.exerciseType}}
                <option value=""></option>
                {{#each exerciseTypeAvailableOptions}}
                <option value="{{value}}">{{text}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
    </div>

    {{!-- statement --}}
    <div class="row">
        <div class="col-md-12 statement-div">
            <label class="required fw-bold"> Enunț: </label>

            <textarea id="statement-editor-txt" rows="8" name="statement"
                style="border-radius:0; border-bottom-width:0; border-color:#bb815d"
                class="form-control {{#if errors.lastName}}is-invalid {{/if}} {{#if isEditMode}}d-none{{/if}}">{{{exercise.question.statement.text}}}</textarea>
            <div class="invalid-feedback">{{errors.statement.msg}}</div>


            <div id="statement-preview-div"
                style="border: 1px solid #bb815d; padding: 6px 12px; background-color: #fff9f8; min-height:58px">
                {{{exercise.question.statement.textPreview}}}
            </div>

            <div class="float-end">
                <a id="toggle-statement-editor-btn" href="">{{#if isEditMode}}Editează{{else}}Ascunde{{/if}}</a>
            </div>
        </div>
    </div>

    {{!-- final answer (type 1 and 3) --}} 
    <div id="answer-main-row" class="row mt-3 mb-3 {{#if (eq2 exercise.exerciseType 2)}}d-none{{/if}}">
        <div id="answer-main-div" class="col-md-12">
            <label for="answer-editor-txt" class="fw-bold"> 
                    <span id="answer-type1-lbl" class="{{#if (eq2 exercise.exerciseType 3)}}d-none{{/if}}">Rezultatul final<span class="fw-light text-muted ms-1">(pentru autoverificare)</span>:</span>
                    <span id="answer-type3-lbl" class="{{#if (eq2 exercise.exerciseType 1)}}d-none{{/if}}">Răspunsul exact<span class="fw-light text-muted ms-1">(tip numeric)</span>:</span>
            </label>

            <textarea id="answer-editor-txt" rows="2" name="answer"
                style="border-radius:0; border-bottom-width:0; border-color:#bb815d"
                class="form-control {{#if errors.lastName}}is-invalid {{/if}} {{#if isEditMode}}d-none{{/if}}">{{{exercise.question.answer.text}}}</textarea>
            <div class="invalid-feedback">{{errors.answer.msg}}</div>


            <div id="answer-preview-div"
                style="border: 1px solid #bb815d; padding: 6px 12px; background-color: #fff9f8; min-height:58px">
                {{{exercise.question.answer.textPreview}}}
            </div>

            <div class="float-end">
                <a id="toggle-answer-editor-btn" href="">{{#if isEditMode}}Editează{{else}}Ascunde{{/if}}</a>
            </div>
        </div>
    </div>

    {{!-- answerOptions with correct answer (type 2)--}}
    <div id="answer-option-main-row" class="row {{#unless (eq2 exercise.exerciseType 2)}}d-none{{/unless}}">
         <div id="answer-option-main-div" class="col-md-12">
            {{#each exercise.question.answerOptions}}
            <div class="answer-option-parent-div mb-4">

                <label class="col-form-label fw-bold"> Variantă de răspuns {{inc @index}}: </label>

                <textarea rows="2" name="answerOptions" style="border-radius:0; border-bottom-width:0; border-color:#bb815d"
                    class="answer-option-editor-txt form-control {{#if errors.solution}}is-invalid {{/if}} {{#if @root.isEditMode}}d-none{{/if}}"
                    value="{{data.solution.val}}">{{{text}}}</textarea>


                <div class="answer-option-preview-div"
                    style="border: 1px solid #bb815d; padding: 6px 12px; background-color: #fff9f8; min-height:58px">
                    {{{textPreview}}}
                </div>

                <div class="float-end">
                    <input class="form-check-input" type="checkbox" name="isCorrectAnswerChecks" value={{inc @index}}
                        id="isCorrectAnswerCheck{{inc @index}}" {{#if isCorrect}}checked{{/if}}>
                    <label class="form-check-label text-muted" for="isCorrectAnswerCheck{{inc @index}}">
                        Răspuns corect
                    </label>
                    <span class="ms-2 me-2 text-muted"> | </span>
                    <a class="toggle-answer-option-editor-btn" href="">Editează</a>
                    <span class="ms-2 me-2 text-muted"> | </span>
                    <a class="delete-answer-option-btn" href="">Șterge</a>
                </div>
            </div>
            {{/each}}
        </div>

         <div>
            <button id="add-answer-option-btn" class="btn btn-sm"
                style="border-color: #bb815d; background-color: #fff9f8; color: black">
                Adaugă variantă de răspuns</button>
        </div>       
    </div>

    {{!-- hints --}}
    <div class="row mt-3">
        <div class="col-md-12" id="hint-main-div">
            {{#each exercise.question.hints}}
            <div class="hint-parent-div mb-4">

                <label class="col-form-label fw-bold"> Indicația {{inc @index}}: </label>

                <textarea rows="2" name="hints" style="border-radius:0; border-bottom-width:0; border-color:#007bff"
                    class="hint-editor-txt form-control {{#if errors.solution}}is-invalid {{/if}} {{#if @root.isEditMode}}d-none{{/if}}"
                    value="{{data.solution.val}}">{{{text}}}</textarea>


                <div class="hint-preview-div"
                    style="border: 1px solid #007bff; padding: 6px 12px; background-color: #f5faff; min-height:58px">
                    {{{textPreview}}}
                </div>

                <div class="float-end">
                    <a class="delete-hint-btn" href="">Șterge</a>
                    <span class="ms-2 me-2 text-muted"> | </span>
                    <a class="toggle-hint-editor-btn" href="">Editează</a>
                </div>

            </div>
        {{/each}}
        </div>
        
        <div>
            <button id="add-hint-btn" class="btn btn-sm"
                style="border-color: #007bff; background-color: #f5faff; color: black">
                Adaugă indicație</button>
        </div>
    </div>

    {{!-- solution --}}
    <div class="row mt-3">
        <div class="col-md-12">
            <label for="solution-editor-txt" class="fw-bold"> Rezolvare completă: </label>

            <textarea id="solution-editor-txt" rows="8" name="solution"
                style="border-radius:0; border-bottom-width:0; border-color:#008000"
                class="form-control {{#if errors.solution}}is-invalid {{/if}} {{#if isEditMode}}d-none{{/if}}">{{{exercise.question.solution.text}}}</textarea>
            <div class="invalid-feedback">{{errors.solution.msg}}</div>

            <div id="solution-preview-div"
                style="border: 1px solid #008000; padding: 6px 12px; background-color: #f5fff5; min-height:58px">
                {{{exercise.question.solution.textPreview}}}
            </div>

            <div class="float-end">
                <a id="toggle-solution-editor-btn" href="">{{#if isEditMode}}Editează{{else}}Ascunde{{/if}}</a>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-6">
            <label for="authorInput" class="fw-bold">Autor:</label>
            <input type="text" name="author" class="form-control" id="authorInput" placeholder=""
                value="{{exercise.author}}">
        </div>

        <div class="col-md-6">
            <label for="sourceNameInput" class="fw-bold">Numele sursei:</label>
            <input type="text" name="sourceName" class="form-control" id="sourceNameInput" placeholder=""
                value="{{exercise.sourceName}}">
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-6">
            <label for="contestNameInput" class="fw-bold">Numele concursului:</label>
            <input type="text" name="contestName" class="form-control" id="contestNameInput" placeholder=""
                value="{{exercise.contestName}}">
        </div>
    </div>

    <input type="hidden" name="id" value="{{exercise._id}}" />
    {{#if contest}}
    <input type="hidden" name="contestId" value="{{contest._id}}" />
    {{/if}}


    <div class="row mt-3 mb-3">
        <div class="col-md-7s offset-md-3s">
            <button type="submit" name="saveBtn" class="btn btn-primary"><i class="bi bi-save"></i>
                Salveaza</button>

            {{#if isEditMode}}
            <a href="{{#if contest}}/concursuri/{{contest._id}}{{/if}}/exercitii/{{exercise._id}}"
                class="btn btn-light"><i class="bi bi-eye"></i> Vizualizează</a>
            {{/if}}

            <label class="col-md-3s col-form-label float-end"> Ajutor:
                <a href="https://markdown-it.github.io/" target="_blank">markdon</a>
                <small><i class="bi bi-box-arrow-up-right" aria-hidden="true"></i></small>
                +
                <a href="https://katex.org/docs/supported.html" target="_blank">latex </a>
                <small><i class="bi bi-box-arrow-up-right" aria-hidden="true"></i></small></label>
        </div>

    </div>

</form>

{{#section 'script'}}
<script type="module" src="/js/exercise/exercise-create-or-edit.main.js"></script>
{{/section}}