{{#section 'head'}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/styles/default.min.css">
{{/section}}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/modifica">Cursuri</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/{{courseId}}/modifica">{{courseCode}}</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/{{courseId}}/capitole/{{chapterId}}/modifica">
                Cap.{{inc chapterIndex}}</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/{{courseId}}/lectii/{{lessonId}}/modifica">L.{{inc lessonIndex}}</a></li>

        <li class="breadcrumb-item active">E.{{exerciseCode}}</li>
        <li title="Vizualizează" class="ms-auto me-2"><a href="/cursuri/{{courseId}}/exercitii/{{exerciseId}}"><i class="bi bi-eye me-2"></i></a></li>

        {{#if canCreateOrEditCourse}}
        <li title="Modifică"><a href="/cursuri/{{courseId}}/exercitii/{{exerciseId}}/modifica"><i class="bi bi-pencil me-1"></i></a></li>
        {{/if}}
    </ol>
</nav>

<h1 id="exercise-id-container" data-exercise-id="{{exerciseId}}">Exercițiul {{exerciseCode}}</h1>

<pre><code>{{{exerciseAsPrettyJson}}}</code></pre>


