<style>
    .hidePresence {
        display: none;
    }

    .hideStudent {
        display: none;
    }
</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="/clase/{{class._id}}">{{class.name}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Elevi</li>
    </ol>
</nav>

<h1>Elevi</h1>
<h2 class="mb-5">{{class.name}}</h2>

<ul>
    {{#each activeStudents}}
    <li><a href="/elevi/{{_id}}">{{displayName}}</a>
        {{#if gradeAndLetter}}
        ({{gradeAndLetter}})
        {{/if}}
    </li>
    {{/each}}

    <hr />

    {{#each inactiveStudents}}
    <li><a href="/elevi/{{_id}}">{{displayName}}</a>
        {{#if gradeAndLetter}}
        ({{gradeAndLetter}})
        {{/if}}
        <span class="text-danger">abandon</span>
    </li>
    {{/each}}
</ul>