<style>
    .hide-lesson-editor {
        display: none;
    }
</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {{!-- <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li> --}}
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/lectii">Lecții</a></li>
        <li class="breadcrumb-item active" aria-current="page">
            {{#if isEditMode}} Edit: {{lesson.title}}{{else}}Adaugă{{/if}}
        </li>
    </ol>
</nav>

<h1 id="lesson-id-container" data-lesson-id="{{lesson._id}}">
    {{#if isEditMode}} Edit: {{lesson.title}}{{else}} Lecție nouă:{{/if}}
</h1>


<form method="post" action="/lectii/createoredit" novalidate onsubmit="saveBtn.disabled = true; return true;">

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="gradeSelect" class="font-weight-bold">Clasa:</label>
            <select name="grade" class="form-control" id="gradeSelect">
                {{#select lesson.grade}}
                <option value=""></option>
                {{#each gradeAvailableOptions}}
                <option value="{{value}}">{{text}}</option>
                {{/each}}

                {{/select}}
            </select>
        </div>

        <div class="form-group col-md-6">
            <label for="scopeSelect" class="font-weight-bold">Scop:
                {{!-- <span class="text-muted">(de unde a fost copiat ex.)</span>:--}}</label>
            <select name="scope" class="form-control" id="scopeSelect">
                {{#select lesson.scope}}
                <option value=""></option>
                {{#each scopeAvailableOptions}}
                <option value="{{value}}">{{text}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>

    </div>

    <div class="form-row">

        <div class="form-group col-md-6">
            <label for="branchSelect" class="font-weight-bold">Ramura:</label>
            <select name="branch" class="form-control" id="branchSelect">
                {{#select lesson.branch}}
                <option value=""></option>
                {{#each branchAvailableOptions}}
                <option value="{{value}}">{{text}}</option>
                {{/each}}

                {{/select}}
            </select>
        </div>

        <div class="form-group col-md-6">
            <label for="chapterSelect" class="font-weight-bold">Capitol:
                {{!-- <span class="text-muted">(de unde a fost copiat ex.)</span>:--}}</label>
            <select name="chapter" class="form-control" id="chapterSelect">
                {{#select lesson.chapter}}
                <option value=""></option>
                {{#each chapterAvailableOptions}}
                <option value="{{value}}">{{text}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>

    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="titleInput" class="required font-weight-bold">Titlu:</label>
            <input type="text" name="title" class="form-control" id="titleInput" placeholder=""
                value="{{lesson.title}}">
        </div>
    </div>

    {{!-- content --}}
    <div class="form-group">
        <label for="content-editor-txt" class="required font-weight-bold"> Conținut: </label>

        <textarea id="content-editor-txt" rows="8" name="content"
            style="border-radius:0; border-bottom-width:0; border-color:#bb815d"
            class="form-control {{#if errors.content}}is-invalid {{/if}} {{#if isEditMode}}hide-content-editor{{/if}}">{{{lesson.content.text}}}</textarea>
        <div class="invalid-feedback">{{errors.content.msg}}</div>


        <div id="content-preview-div"
            style="border: 1px solid #bb815d; padding: 6px 12px; background-color: #fff9f8; min-height:58px">
            {{{lesson.content.textPreview}}}
        </div>

        <button id="toggle-content-editor-btn" type="button"
            class="btn btn-link p-0 mt-n1 float-right">{{#if isEditMode}}Editează{{else}}Ascunde{{/if}}</button>
        <br>

        {{!-- <div class="text-right">
            <button id="toggle-content-editor-btn" type="button"
                class="btn btn-link p-0 mt-n1">{{#if isEditMode}}Editează{{else}}Ascunde{{/if}}</button>
        </div> --}}
    </div>

    <input type="hidden" name="_id" value="{{lesson._id}}" />

    <div class="form-group">
        <div class="col-md-7s offset-md-3s">
            <button type="submit" name="saveBtn" class="btn btn-primary"><i class="fas fa-save"></i>
                Salveaza</button>
            <a href="/lectii" class="btn btn-light"><i class="fa fa-times"></i> Renunță</a>
            {{#if isEditMode}}
            <button type="submit" formaction="/lectii/sterge" name="deleteBtn" class="btn btn-link"
                onclick="return confirm('Ești sigur că vrei să ștergi această lecție?');"><i
                    class="fas fa-trash-alt"></i>
                Șterge</button>
            {{/if}}

            <label class="col-md-3s col-form-label float-right"> Help:
                <a href="https://markdown-it.github.io/" target="_blank">markdon</a>
                <small><i class="fas fa-external-link-alt text-muted text-small" aria-hidden="true"></i></small>
                +
                <a href="https://katex.org/docs/supported.html" target="_blank">latex </a>
                <small><i class="fas fa-external-link-alt text-muted text-small" aria-hidden="true"></i></small></label>
        </div>

    </div>

</form>