<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/clase">Clase</a></li>
        <li class="breadcrumb-item"><a href="/clase/{{class._id}}">{{class.name}}</a></li>
        <li class="breadcrumb-item active">Elevi</li>
    </ol>
</nav>

<h1>Elevi</h1>
<h2 class="mb-5">{{class.name}}</h2>

<ul>
    {{#each activeStudents}}
    <li><a href="/elevi/{{_id}}">{{displayName}}</a>
        {{#if gradeAndLetter}}
        ({{gradeAndLetter}})
        {{/if}}
    </li>
    {{/each}}
</ul>

{{#if inactiveStudents.length}}
<hr class="mt-4" />

<div class="mb-2">
    <button id="toggle-abandon-btn" type="button" class="btn btn-link p-0">Vezi și elevii care au abandonat</button>
</div>

<ul id="abandon-ul" class="d-none toggle-presence2 hidePresence2">
    {{#each inactiveStudents}}
    <li><a href="/elevi/{{_id}}">{{displayName}}</a>
        {{#if gradeAndLetter}}
        ({{gradeAndLetter}})
        {{/if}}
        <span class="text-danger">abandon</span>
    </li>
    {{/each}}
</ul>

{{/if}}



{{#section 'script-after'}}
<script>

    const eventHandlers = {
        toggleAbandon: async event => {
            const elem = document.getElementById("abandon-ul");
            elem.classList.toggle("d-none");

            const elemIsHide = elem.classList.contains("d-none");
            event.target.textContent = elemIsHide ? "Vezi și elevii care au abandonat" : "Vezi doar elevii activi";
        }
    }

    const toggleAbandonBtn = document.getElementById("toggle-abandon-btn");
    if (toggleAbandonBtn) toggleAbandonBtn.addEventListener("click", eventHandlers.toggleAbandon);

</script>
{{/section}}