<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {{!-- <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li> --}}
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        {{#if lastClass}}
        <li class="breadcrumb-item"><a href="/clase/{{lastClass._id}}">{{lastClass.name}}</a></li>
        {{/if}}
        <li class="breadcrumb-item active" aria-current="page">{{student.shortName}}</li>
    </ol>
</nav>


{{!-- <h1>Prezența</h1> --}}
<h1>{{student.shortName}}</h1>
<h2 class="mb-5">{{class.name}}</h2>

{{#each sortedClasses}}
<h5>{{editionInterval}}:</h5>
<ul>
    <li>Clasa: <a href="/clase/{{_id}}">{{name}}</a> <span class="text-muted font-weight-light">(nivel
            avansat)</span>
    </li>

    <li><a href="/clase/{{_id}}/elevi/{{@root.student._id}}/prezenta">Prezența</a></li>
    <li><a href="/clase/{{_id}}/elevi/{{@root.student._id}}/teme-predate">Teme predate <span class="text-muted">(făcute
                acasă)</span></a></li>
</ul>
{{/each}}

{{#if can.viewParentsLink}}
<h5>Părinți/tutori:</h5>
<ul>
    {{#each parents}}
    <li><a href="/parinti/{{_id}}">{{lastName}} {{firstName}}</a></li>
    {{/each}}
</ul>
{{/if}}



{{!-- <ul class="pl-4">
    {{#each presencesPerStudent}}
    <li class="mb-1">
        <span style="display:inline-block; width:100px">{{dateAsString}}</span>


        {{#if isPresent}}
        <span class="font-weight-bold">prezent</span>,
        {{else}}
        <span class="font-weight-bold text-danger">absent</span>,
        {{/if}}

        <span> <a href="/sesiuni-curs/{{courseId}}">Curs
                {{courseNumber}}</a>{{#if isCreditFromOtherClass}}</span>
        ({{className}}{{#if isTemporaryCreditFromOtherCourse}} - temporar{{/if}}){{/if}}{{#if description}}:
        <span class="text-muted"> {{description}}</span>
        {{/if}}

    </li>
    {{/each}}
</ul>

<hr />
<p class="mb-5">
    <span class="font-weight-bold">Total prezențe:</span> {{totalPresences}} din {{totalCourses}}
    ({{totalPresencesAsPercent}}%)
</p> --}}