<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/Clase/">Clase</a></li>
        <li class="breadcrumb-item"><a href="/Clase/{{data.classId}}">{{data.className}}</a></li>
        <li class="breadcrumb-item"><a href="/Clase/{{data.classId}}/inscrieri">Inscrieri</a></li>
        {{!-- <li class="breadcrumb-item active" >Adaugă</li> --}}
    </ol>
</nav>

{{!-- <p>{{toJSON user}}</p> --}}
{{!-- <p>{{toJSON errors}}</p> --}}

{{#if errors.page}}
<div class="alert alert-danger">
    <i class="bi bi-exclamation-circle me-2"></i> {{errors.page.msg}}
</div>
{{/if}}

<h1>Cerere de înscriere</h1>

{{#if data.classIsActive}}

{{#if (eq data.classEnrollStatus "completed")}}
<span class="badge bg-warning">Perioada pentru înscrieri s-a încheiat.</span>
<p>Pentru informații privind eventuale locuri libere, puteți trimite un email la adresa lucian.maran@gmail.com.</p>
{{else}}

{{#if @root.user}}

<div class="mb-5">Prin completarea formularului de mai jos, părintele iși manifestă intenția de a-și înscrie copilul la
    una din clasele MateMaraton. Este posibil ca nu toate cererile să poată fi soluționate favorabil.</div>

<form method="post" id="enrollForm" action="/clase/{{data.classId}}/inscrieri/adauga" novalidate
    onsubmit="saveBtn.disabled = true; return true;">

    <div class="row mb-3">
        <label for="classId" class="col-md-3 col-form-label">Clasa MateMaraton</label>
        <div class="col-md-7">
            {{!-- <select name="classId" class="form-control" id="classIdSelect" disabled2 readonly2="readonly">
                    {{#select data.selectedClassId}}
                    <option value=""></option>
                    {{#each data.classes}}
                    <option value="{{_id}}">{{name}} (nivel {{level}})</option>
                    {{/each}}
                    {{/select}}
                </select> --}}
            <input type="text" name="parentName" id="parentName" disabled class="form-control"
                value="{{data.className}} (nivel {{data.classLevel}})" />
            <p class="text-muted mb-0">Clasa la care se dorește înscrierea</p>
            <div class="invalid-feedback">{{errors.classId.msg}}</div>
        </div>
    </div>

    <div class="row mb-3">
        <label for="parentName" class="col-md-3 col-form-label">Părinte</label>
        <div class="col-md-7">
            <input type="text" name="parentName" id="parentName" disabled class="form-control"
                value="{{@root.user.lastName}} {{@root.user.firstName}}" />
        </div>
    </div>

    <div class="row mb-3">
        <label for="parentEmail" class="col-md-3 col-form-label">Email părinte</label>
        <div class="col-md-7">
            <input type="email" name="parentEmail" id="parentEmail" disabled class="form-control"
                value="{{@root.user.email}}" />
        </div>
    </div>

    <div class="row mb-3">
        <label for="studentLastName" class="col-md-3 col-form-label required">Nume elev</label>
        <div class="col-md-7">
            <input type="text" name="studentLastName" id="studentLastName"
                class="form-control {{#if errors.studentLastName}}is-invalid {{/if}}" value="{{data.studentLastName}}"
                {{#if uiData.studentLastName.hasAutofocus}}autofocus {{/if}} />
            <div class="invalid-feedback">{{errors.studentLastName.msg}}</div>
        </div>
    </div>

    <div class="row mb-3">
        <label for="studentFirstName" class="col-md-3 col-form-label required">Prenume elev</label>
        <div class="col-md-7">
            <input type="text" name="studentFirstName" id="studentFirstName"
                class="form-control {{#if errors.studentFirstName}}is-invalid {{/if}}" value="{{data.studentFirstName}}"
                {{#if uiData.studentFirstName.hasAutofocus}}autofocus {{/if}} />
            <p class="text-muted mb-0">Puteți completa doar prenumele favorit</p>
            <div class="invalid-feedback">{{errors.studentFirstName.msg}}</div>
        </div>
    </div>


    <div class="row mb-3">
        <label for="mathAvgGrade1" class="col-md-3 col-form-label">Media la matematică, sem.1</label>
        <div class="col-md-7">
            <input type="text" name="mathAvgGrade1" id="mathAvgGrade1"
                class="form-control {{#if errors.mathAvgGrade1}}is-invalid {{/if}}" value="{{data.mathAvgGrade1}}"
                {{#if uiData.mathAvgGrade1.hasAutofocus}}autofocus {{/if}} />
            <p class="text-muted mb-0">Media (calificativul) din
                anul precedent, sem.1</p>
            <div class="invalid-feedback">{{errors.mathAvgGrade1.msg}}</div>
        </div>
    </div>

    <div class="row mb-3">
        <label for="mathAvgGrade2" class="col-md-3 col-form-label">Media la matematică, sem.2</label>
        <div class="col-md-7">
            <input type="text" name="mathAvgGrade2" id="mathAvgGrade2"
                class="form-control {{#if errors.mathAvgGrade2}}is-invalid {{/if}}" value="{{data.mathAvgGrade2}}"
                {{#if uiData.mathAvgGrade2.hasAutofocus}}autofocus {{/if}} />
            <p class="text-muted mb-0">Media (calificativul) din
                anul precedent, sem.2</p <div class="invalid-feedback">
            <div class="invalid-feedback">{{errors.mathAvgGrade2.msg}}</div>
        </div>
    </div>

    <div class="row mb-3">
        <label for="schoolName" class="col-md-3 col-form-label">Numele și localitatea școlii</label>
        <div class="col-md-7">
            <input type="text" name="schoolName" id="schoolName"
                class="form-control {{#if errors.schoolName}}is-invalid {{/if}}" value="{{data.schoolName}}"
                {{#if uiData.schoolName.hasAutofocus}}autofocus {{/if}} />
            <p class="text-muted mb-0">Școala și localitatea unde învață copilul</p>
            <div class="invalid-feedback">{{errors.schoolName.msg}}</div>
        </div>
    </div>

    <div class="row mb-3">
        <label for="observations" class="col-md-3 col-form-label">Observații</label>
        <div class="col-md-7">
            <textarea rows="3" type="text" name="observations" id="observations"
                class="form-control {{#if errors.observations}}is-invalid {{/if}}"
                {{#if uiData.observations.hasAutofocus}}autofocus {{/if}}>{{data.observations}}</textarea>
            <p class="text-muted mb-0">Puteți adăuga aici orice informații pe care instructorul considerați că e bine să
                le cunoască despre copilul dvs.</p>
            <div class="invalid-feedback">{{errors.observations.msg}}</div>
        </div>
    </div>

    <input type="hidden" name="classId" value="{{data.classId}}" />
    <input type="hidden" name="className" value="{{data.className}}" />
    <input type="hidden" name="classLevel" value="{{data.classLevel}}" />

    <div class="row mb-3">
        <div class="col-md-7 offset-md-3">
            <button type="submit" name="saveBtn" class="btn btn-primary"><i class="bi bi-save"></i>
                Salvează</button>
            <button type="button" class="btn btn-light" onclick='window.history.back();'>
                <i class="bi bi-x"></i>
                Renunță</button>
        </div>
    </div>
</form>
{{else}}
<div class="alert alert-info" role="alert">
    <i class="bi bi-info-circle me-2"></i>
    Pentru a trimite o cerere de înscriere trebuie să fii autentificat ca <strong>părinte</strong>. Te poți autentifica
    <a href="login?redirect_uri=clase/{{data.classId}}/inscrieri/adauga">aici</a>
    sau, dacă nu ai cont, îti poti face unul gratuit <a href="/signup">aici</a>.
</div>
{{/if}}

{{/if}}

{{else }} {{!-- classIsActive = false --}}
<span class="badge badge-warning">Acest curs s-a încheiat.</span>
{{/if}}