<div class="container-fluid">

    <h1>Schimbă parola</h1>

    {{!-- <p>{{toJSON errors}}</p>
    <p>{{toJSON data}}</p> --}}

    <form method="post" action="change-password" novalidate onsubmit="saveBtn.disabled = true; return true;">

        <div class="row mb-3">
            <label for="oldPassword" class="col-md-3 col-form-label required">Parola veche</label>
            <div class="col-md-7">
                <input type="password" name="oldPassword" id="oldPassword"
                    class="form-control {{#if errors.oldPassword}}is-invalid {{/if}}" value="{{data.oldPassword.val}}"
                    {{#if uiData.oldPassword.hasAutofocus}}autofocus {{/if}} />
                <div class="invalid-feedback">{{errors.oldPassword.msg}}</div>
            </div>
        </div>

        <div class="row mb-3">
            <label for="newPassword" class="col-md-3 col-form-label required">Parola nouă</label>
            <div class="col-md-7">
                <input type="password" name="newPassword" id="newPassword"
                    class="form-control {{#if errors.newPassword}}is-invalid {{/if}}" value="{{data.newPassword.val}}"
                    {{#if uiData.newPassword.hasAutofocus}}autofocus {{/if}} />
                <p class="text-muted mb-0">Minim 6 caractere</p>
                <div class="invalid-feedback">{{errors.newPassword.msg}}</div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-7 offset-md-3">
                <button type="submit" name="saveBtn" class="btn btn-primary"><i class="bi bi-save"></i>
                    Salvează</button>
                <button type="button" class="btn btn-light" onclick='window.history.back();'>
                    <i class="bi bi-x"></i>
                    Renunță</button>
            </div>
        </div>

    </form>

    <div class="row mb-3">
        <div class="col-md-7 offset-md-3">
            Ți-ai uitat parola? <a href="/reset-password">Resetează parola.</a>
        </div>
    </div>

</div>