<div class="container-fluid">

    {{#if isSuccess}}
    <div class="alert alert-success">
        <i class="fa fa-check mr-2"></i> {{{message}}}
    </div>
    {{{details}}}
    {{/if}}

    {{#if isError}}
    <div class="alert alert-danger">
        <i class="fa fa-times mr-2"></i> {{{message}}}
    </div>
    {{{details}}}
    {{/if}}

    {{#if isInfo}}
    <div class="alert alert-info">
        <i class="fa fa-info mr-2"></i> {{{message}}}
    </div>
    {{{details}}}
    {{/if}}

</div>