<div class="container-fluid">

    <h1>Login</h1>

    {{!-- <p>{{toJSON data}}</p> --}}
    {{!-- <p>{{toJSON errors}}</p> --}}

    <form method="post" action="/login" novalidate onsubmit="saveBtn.disabled = true; return true;">
        <div class="form-group row">
            <label for="email" class="col-md-3 col-form-label required">Email</label>
            <div class="col-md-7">
                <input type="email" name="email" id="email" class="form-control {{#if errors.email}}is-invalid {{/if}}"
                    value="{{data.email.val}}" {{#if uiData.email.hasAutofocus}}autofocus {{/if}} />
                <div class=" invalid-feedback">{{errors.email.msg}}</div>
            </div>
        </div>

        <div class="form-group row">
            <label for="password" class="col-md-3 col-form-label required">Parola</label>
            <div class="col-md-7">
                <input type="password" name="password" id="password"
                    class="form-control {{#if errors.password}}is-invalid {{/if}}" value="{{data.password.val}}"
                    {{#if uiData.password.hasAutofocus}}autofocus {{/if}} />
                <div class="invalid-feedback">{{errors.password.msg}}</div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-7 offset-md-3">
                <button type="submit" name="saveBtn" class="btn btn-primary"><i class="fas fa-save"></i>
                    Autentifică</button>
                <button type="button" class="btn btn-light" onclick='window.history.back();'> <i
                        class="fas fa-times"></i>
                    Renuntă</button>
            </div>
        </div>
    </form>

    <div class="form-group row">
        <div class="col-md-7 offset-md-3">
            Ți-ai uitat parola? <a href="/reset-password">Resetează parola.</a>
        </div>
    </div>

</div>