<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/utilizatori">Utilizatori</a></li>
        <li class="breadcrumb-item active">{{user.firstName}} {{user.lastName}}</li>
    </ol>
</nav>

<h1>Utilizator</h1>

{{!-- <button type="button" class="btn btn-primary"><i class="bi bi-trash-fill"></i> Șterge</button>
<button type="button" class="btn btn-primary"><i class="bi bi-trash"></i> Șterge</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-link"><i class="bi bi-trash"></i> Șterge</button>
<button type="button" class="btn btn-light"><i class="bi bi-trash"></i> Șterge</button>
<a href="/concursuri/{{contest._id}}/modifica" class="btn btn-light btn-outline-primary"><i
        class="bi bi-pencil-fill"></i> Modifică</a> --}}

{{#if canDeleteUser}}
<form method="post" onsubmit="deleteBtn.disabled = true; return true;" style="display:inline">
    {{!-- <input type="hidden" name="userId" value="{{user._id}}" /> --}}
    <button type="submit" formaction="/utilizatori/{{user._id}}/sterge" title="Șterge" name="deleteBtn"
        class="btn btn-light btn-outline-primary"
        onclick="return confirm('Ești sigur că vrei să ștergi acest utilizator?');"><i class="bi bi-trash-fill"></i>
        Șterge</button>
</form>
{{/if}}

<table class="table thead-light table-bordered table-hover mt-4">
    <tbody>
        <tr>
            <td>
                Nume
            </td>
            <td>
                <a href="/utilizatori/{{_id}}">{{user.firstName}} {{user.lastName}}
            </td>
        </tr>
        <tr>
            <td>
                Email
            </td>
            <td>
                {{user.email}}
            </td>
        </tr>
        <tr>
            <td>
                CreatLa
            </td>
            <td>
                {{user.createdOn}}
            </td>
        </tr>
        <tr>
            <td>
                Stare
            </td>
            <td>
                {{user.status}}
            </td>
        </tr>
        <tr>
            <td>
                EsteAdmin
            </td>
            <td>
                {{user.isAdmin}}
            </td>
        </tr>
        {{#if user.person.isParent}}
        <tr>
            <td>
                Elevi
            </td>
            <td>
                {{#each user.person.students}}
                <a class="d-block" href="/elevi/{{_id}}">{{firstName}} {{lastName}}</a>
                {{/each}}
            </td>
        </tr>
        {{/if}}
        {{#if user.person.isStudent}}
        <tr>
            <td>
                Părinți
            </td>
            <td>
                {{#each user.person.parents}}
                <a class="d-block" href="/parinti/{{_id}}">{{firstName}} {{lastName}}</a>
                {{/each}}
            </td>
        </tr>
        {{/if}}
    </tbody>
</table>