<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/modifica">Cursuri</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/{{courseId}}/modifica">{{courseCode}}</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/{{courseId}}/capitole/{{chapterId}}/modifica">
                Cap.{{inc chapterIndex}}</a></li>
        <li class="breadcrumb-item"><a href="/lectii/{{lessonId}}/modifica?view=exercitii">L.{{inc lessonIndex}}</a></li>
        <li class="breadcrumb-item"><a href="/exercitii/{{exerciseId}}/modifica">E.{{exerciseCode}}</a></li>
    </ol>
</nav>

<h1 id="exercise-id-container" data-exercise-id="{{exercise._id}}">
    {{#if isEditMode}}Exercițiul {{exercise.code}}{{else}} Mută exercițiul:{{/if}}
</h1>

{{!-- {{toJSON exercise}} --}}

<form method="post" novalidate onsubmit="saveBtn.disabled = true; return true;">

    <div class="row mt-3">
        <div class="col-md-6">
            <label class="fw-bold">Curs:</label>
            <select id="courseSelect" name="course" class="form-select">
                {{#select courseId}}
                {{#each availableCourses}}
                <option value="{{_id}}">{{name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-6">
            <label class="fw-bold">Lecție:</label>
            <select id="lessonSelect" name="lesson" class="form-select">
                {{#select lessonId}}
                {{#each availableLessons}}
                <option value="{{id}}">{{name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-6">
            <label class="fw-bold">Nivel:</label>
            <select id="levelSelect" name="level" class="form-select">
                {{#select levelId}}
                {{#each availableLevels}}
                <option value="{{id}}">{{name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-6">
            <label class="fw-bold">Poziția în listă:</label>
            <select id="positionSelect" name="position" class="form-select">
                {{#select selectedPosition}}
                {{#each availablePositions}}
                <option value="{{index}}">{{name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
    </div>

    <input type="hidden" name="courseId" value="{{courseId}}" />
    <input type="hidden" name="chapterId" value="{{chapterId}}" />
    <input type="hidden" name="lessonId" value="{{lessonId}}" />
    <input type="hidden" name="levelId" value="{{levelId}}" />
    <input type="hidden" name="positionId" value="{{selectedPosition}}" />
    <input type="hidden" name="exerciseId" value="{{exerciseId}}" id="exerciseId" />

    <div class="row mt-5 mb-3">
        <div class="col-md-7s offset-md-3s">
            <button type="submit" name="saveBtn" class="btn btn-primary"><i class="bi bi-save"></i>Salveaza</button>

            <a title="Json" class="btn btn-light" 
            href="/lectii/{{lessonId}}/modifica?courseId={{courseId}}&levelId={{levelId}}#level{{levelId}}" >
            <i class="bi bi-x"></i>Renunță</a>
        </div>
    </div>

</form>

{{#section 'script'}}
<script type="module" src="/js/eventBinders/exercise-move.event-binder.js"></script>
{{/section}}