{{#section 'head'}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/styles/default.min.css">
{{/section}}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb pe-2">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/modifica">Cursuri</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/{{courseId}}/modifica">{{courseCode}}</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/{{courseId}}/capitole/{{chapterId}}/modifica">
                Cap.{{inc chapterIndex}}</a></li>
        <li class="breadcrumb-item"><a href="/lectii/{{lessonId}}/modifica?view=exercitii">L.{{inc lessonIndex}}</a></li>
        <li class="breadcrumb-item active">E.{{exerciseCode}}</li>

        <li title="Vizualizează" class="ms-auto ms-3"><a href="/exercitii/{{exerciseId}}"><i class="bi bi-eye"></i></a></li>
        {{#if canCreateOrEditCourse}}
        <li title="Modifică" class="ms-3"><a href="/exercitii/{{exerciseId}}/modifica"><i class="bi bi-pencil"></i></a></li>
        {{/if}}
    </ol>
</nav>

<h1 id="exercise-id-container" data-exercise-id="{{exerciseId}}">Exercițiul {{exerciseCode}}</h1>

<pre><code>{{{exerciseAsPrettyJson}}}</code></pre>


