<nav aria-label="breadcrumb">
    <ol class="breadcrumb pe-2">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/modifica">Cursuri</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/{{courseId}}/modifica">{{courseCode}}</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/{{courseId}}/capitole/{{chapterId}}/modifica">
                Cap.{{inc chapterIndex}}</a></li>
        <li class="breadcrumb-item"><a href="/lectii/{{lessonId}}/modifica?view=exercitii">L.{{inc lessonIndex}}</a></li>
        <li class="breadcrumb-item active">E.{{exercise.code}}</li>

        {{#if isEditMode}}
        <li title="Json" class="ms-auto ms-3"><a href="/exercitii/{{exercise._id}}/json"><i class="bi bi-braces"></i></a></li>
        <li title="Vizualizează" class="ms-3"><a href="/exercitii/{{exercise._id}}"><i class="bi bi-eye"></i></a></li>
        {{/if}}
    </ol>
</nav>

<h1 id="exercise-id-container" data-exercise-id="{{exercise._id}}">
    {{#if isEditMode}}Exercițiul {{exercise.code}}{{else}} Exercițiu nou:{{/if}}
</h1>

{{!-- {{toJSON exercise}} --}}

<form method="post" novalidate onsubmit="saveBtn.disabled = true; return true;">

    {{!-- Exercise type --}}
    <div class="row mt-3 mb-3">
        <div class="col-md-6">
            <label class="fw-bold">Tipul exercițiului:</label>
            <select name="exerciseType" class="form-select" id="exerciseTypeSelect">
                {{#select exercise.exerciseType}}
                <option value=""></option>
                {{#each availableExerciseTypes}}
                <option value="{{value}}">{{text}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
    </div>

    {{!-- statement --}}
    <div class="row">
        <div class="col-md-12 statement-div">
            <label for="statement-editor-txt"  class="fw-bold"> Enunț: </label>

            <textarea id="statement-editor-txt" rows="8" name="statement"
                class="statement-input drop-area form-control {{#if errors.lastName}}is-invalid {{/if}} {{#if isEditMode}}d-none{{/if}}">{{{exercise.statement}}}</textarea>
            <div class="invalid-feedback">{{errors.statement.msg}}</div>


            <div id="statement-preview-div"
                style="border: 1px solid #bb815d; padding: 6px 12px; background-color: #fff9f8; min-height:58px">
                {{{exercise.statementPreview}}}
            </div>


            <div id="upload-file-progress-statement-div" class="progress d-none" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 2px">
                <div class="progress-bar w-100"></div>
            </div>


            {{!-- Statement menu --}}
            <div class="exercise-menu-div hide-on-print clearfix">
                {{!-- <div class="float-start">
                    {{#if hints}}
                        <a class="toggle-hints-btn" href="">Indicații</a>
                        <span class="text-muted">({{hints.length}})</span>
                    {{/if}}
                </div> --}}
                

                <div class="float-end">
                    <span id="edit-menu-statement-span" class="d-none">
                        <span id="upload-file-error-statement-div" class="upload-file-error-div invalid-feedback">Mesaj de eroare</span>
                        <label class="btn btn-light border border-primary btn-xs" for="upload-file-statement-input">
                            <i class="bi bi-card-image"></i>
                            Adaugă poza
                        </label>
                    </span>

                    <a id="toggle-statement-editor-btn" href="">{{#if isEditMode}}Editează{{else}}Ascunde{{/if}}</a>
                </div>
            </div>

        </div>
    </div>

    {{!-- final answer (type 1 and 3) --}} 
    <div id="answer-main-row" class="row mt-3 mb-3 {{#if (eq2 exercise.exerciseType 2)}}d-none{{/if}}">
        <div id="answer-main-div" class="col-md-12">
            <label for="answer-editor-txt" class="fw-bold"> 
                    <span id="answer-type1-lbl" class="{{#if (eq2 exercise.exerciseType 3)}}d-none{{/if}}">Rezultatul final<span class="fw-light text-muted ms-1">(pentru autoverificare)</span>:</span>
                    <span id="answer-type3-lbl" class="{{#if (eq2 exercise.exerciseType 1)}}d-none{{/if}}">Răspunsul exact<span class="fw-light text-muted ms-1">(tip numeric)</span>:</span>
            </label>

            <textarea id="answer-editor-txt" rows="2" name="answer"
                style="border-radius:0; border-bottom-width:0; border-color:#bb815d"
                class="form-control {{#if errors.lastName}}is-invalid {{/if}} {{#if isEditMode}}d-none{{/if}}">{{{exercise.answer}}}</textarea>
            <div class="invalid-feedback">{{errors.answer.msg}}</div>


            <div id="answer-preview-div"
                style="border: 1px solid #bb815d; padding: 6px 12px; background-color: #fff9f8; min-height:58px">
                {{{exercise.answerPreview}}}
            </div>

            <div class="float-end">
                <a id="toggle-answer-editor-btn" href="">{{#if isEditMode}}Editează{{else}}Ascunde{{/if}}</a>
            </div>
        </div>
    </div>

    {{!-- answerOptions with correct answer (type 2)--}}
    <div id="answer-option-main-row" class="row {{#unless (eq2 exercise.exerciseType 2)}}d-none{{/unless}}">
         <div id="answer-option-main-div" class="col-md-12">
            {{#each exercise.answerOptions}}
            <div class="answer-option-parent-div mb-4">

                <label class="col-form-label fw-bold"> Variantă de răspuns {{inc @index}}: </label>

                <textarea rows="2" name="answerOptions" style="border-radius:0; border-bottom-width:0; border-color:#bb815d"
                    class="answer-option-editor-txt form-control {{#if errors.solution}}is-invalid {{/if}} {{#if @root.isEditMode}}d-none{{/if}}"
                    value="{{data.solution.val}}">{{{text}}}</textarea>


                <div class="answer-option-preview-div"
                    style="border: 1px solid #bb815d; padding: 6px 12px; background-color: #fff9f8; min-height:58px">
                    {{{textPreview}}}
                </div>

                <div class="float-end">
                    <input class="form-check-input" type="checkbox" name="isCorrectAnswerChecks" value={{inc @index}}
                        id="isCorrectAnswerCheck{{inc @index}}" {{#if isCorrect}}checked{{/if}}>
                    <label class="form-check-label text-muted" for="isCorrectAnswerCheck{{inc @index}}">
                        Răspuns corect
                    </label>
                    <span class="ms-2 me-2 text-muted"> | </span>
                    <a class="toggle-answer-option-editor-btn" href="">Editează</a>
                    <span class="ms-2 me-2 text-muted"> | </span>
                    <a class="delete-answer-option-btn" href="">Șterge</a>
                </div>
            </div>
            {{/each}}
        </div>

         <div>
            <button id="add-answer-option-btn" class="btn btn-sm"
                style="border-color: #bb815d; background-color: #fff9f8; color: black">
                Adaugă variantă de răspuns</button>
        </div>       
    </div>

    {{!-- hints --}}
    <div class="row mt-3">
        <div class="col-md-12" id="hint-main-div">
            {{#each exercise.hints}}
            <div class="hint-parent-div mb-4">

                <label class="col-form-label fw-bold"> Indicația {{inc @index}}: </label>

                <textarea rows="2" name="hints" style="border-radius:0; border-bottom-width:0; border-color:#007bff"
                    class="hint-editor-txt form-control {{#if errors.solution}}is-invalid {{/if}} {{#if @root.isEditMode}}d-none{{/if}}"
                    value="{{data.solution.val}}">{{{text}}}</textarea>


                <div class="hint-preview-div"
                    style="border: 1px solid #007bff; padding: 6px 12px; background-color: #f5faff; min-height:58px">
                    {{{textPreview}}}
                </div>

                <div class="float-end">
                    <a class="delete-hint-btn" href="">Șterge</a>
                    <span class="ms-2 me-2 text-muted"> | </span>
                    <a class="toggle-hint-editor-btn" href="">Editează</a>
                </div>

            </div>
        {{/each}}
        </div>
        
        <div>
            <button id="add-hint-btn" class="btn btn-sm"
                style="border-color: #007bff; background-color: #f5faff; color: black">
                Adaugă indicație</button>
        </div>
    </div>

    {{!-- solution --}}
    <div class="row mt-3">
        <div class="col-md-12">
            <label for="solution-editor-txt" class="fw-bold"> Rezolvare completă: </label>

            <textarea id="solution-editor-txt" rows="8" name="solution"
                style2="border-radius:0; border-bottom-width:0; border-color:#008000"
                class="solution-input drop-area form-control {{#if errors.solution}}is-invalid {{/if}} {{#if isEditMode}}d-none{{/if}}">{{{exercise.solution}}}</textarea>
            <div class="invalid-feedback">{{errors.solution.msg}}</div>

            <div id="solution-preview-div"
                style="border: 1px solid #008000; padding: 6px 12px; background-color: #f5fff5; min-height:58px">
                {{{exercise.solutionPreview}}}
            </div>

            <div id="upload-file-progress-solution-div" class="progress d-none" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 2px">
                <div class="progress-bar w-100"></div>
            </div>

            {{!-- Solution menu --}}
            <div class="exercise-menu-div hide-on-print clearfix">
                {{!-- <div class="float-start">
                    {{#if hints}}
                        <a class="toggle-hints-btn" href="">Indicații</a>
                        <span class="text-muted">({{hints.length}})</span>
                    {{/if}}
                </div> --}}

                <div class="float-end">
                    <span id="edit-menu-solution-span" class="d-none">
                        <span id="upload-file-error-solution-div" class="upload-file-error-div invalid-feedback">Mesaj de eroare</span>
                        <label class="btn btn-light border border-primary btn-xs" for="upload-file-solution-input">
                            <i class="bi bi-card-image"></i>
                            Adaugă poza
                        </label>
                    </span>

                    <a id="toggle-solution-editor-btn" href="">{{#if isEditMode}}Editează{{else}}Ascunde{{/if}}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-6">
            <label for="authorInput" class="fw-bold">Autor:</label>
            <input type="text" name="author" class="form-control" id="authorInput" placeholder=""
                value="{{exercise.author}}">
        </div>

        <div class="col-md-6">
            <label for="sourceNameInput" class="fw-bold">Numele sursei:</label>
            <input type="text" name="sourceName" class="form-control" id="sourceNameInput" placeholder=""
                value="{{exercise.sourceName}}">
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-6">
            <label for="contestNameInput" class="fw-bold">Numele concursului:</label>
            <input type="text" name="contestName" class="form-control" id="contestNameInput" placeholder=""
                value="{{exercise.contestName}}">
        </div>

        <div class="col-md-6">
            <label for="positionSelect" class="fw-bold">Poziția în listă:</label>
            <select name="position" class="form-select" id="positionSelect">
                {{#select selectedPosition}}
                {{#each availablePositions}}
                <option value="{{index}}">{{name}}</option>
                {{/each}}
                {{/select}}
            </select>
            {{!-- <small>
                <p class="text-muted mb-0">Poziția în cadrul listei</p>
            </small> --}}
        </div>
    </div>

    {{!-- <div class="row mt-4">
        <div class="col-md-12">
            <label for="contestNameInput" class="fw-bold">Rezolvarea mea:</label>
            <div class="drop-area">
                <form class="my-form" enctype="multipart/form-data">

                    <div class="form-group">
                        <input type="file" name="filefield" id="upload-file-select-input" multiple accept="image/*" class="d-none">
                        <label class="upload-file-select-label" for="upload-file-select-input">
                            <i class="bi bi-paperclip"></i>
                            Adaugă poza
                        </label>

                        <span class="drag-message-span text-muted font-weight-light">sau trage poza aici</span>
                        <div class="upload-file-error-div invalid-feedback">Mesaj de eroare</div>
                        <progress class="progress-bar d-none w-100" max=100 value=0></progress>
                        <div class="gallery mt-3"></div>
                    </div>

                    <div class="mt-2">
                        <textarea rows="2" name="comment-textarea" placeholder="Comentariu (opțional)..."
                            style="border-radius:0; border-color:#ccc"
                            class="comment-textarea form-control {{#if errors.lastName}}is-invalid {{/if}}"></textarea>
                        <div class="invalid-feedback">{{errors.answer.msg}}</div>
                    </div>

                    <div class="mb-0 mt-2">
                        <button type="button" id="my-solution-submit-btn" class="btn btn-primary btn-sm">
                            <i class="bi bi-cursor-fill"></i>
                            Trimite rezolvarea
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div> --}}

    {{!-- Exercise type --}}
    {{!-- <div class="row mt-3 mb-3">
        <div class="col-md-6">
            <label class="fw-bold">Tipul exercițiului:</label>
            <select name="exerciseType" class="form-select" id="exerciseTypeSelect">
                {{#select exercise.exerciseType}}
                <option value=""></option>
                {{#each availableExerciseTypes}}
                <option value="{{value}}">{{text}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
    </div> --}}

    {{!-- Files --}}
    <div class="row mt-3">
        <div class="col-md-6">
            <label class="fw-bold {{#if lesson.files.length}}d-none{{/if}}"> Fișiere: </label>

            <table id="gallery-tbl" class="table thead-light table-bordered table-hover">
                <tbody>
                    {{#each exercise.files}}
                    <tr>
                        <td>
                            {{#if isImage}}
                                <a href="{{url}}" title="{{name}}"><img src="{{url}}" height="50"/></a>
                            {{else}}
                                <img src="/images/{{extension}}-icon.png" height="32"/>
                                <a href="{{url}}">{{name}}</a>
                            {{/if}}
                            <input class="d-none" name="fileIds" value="{{id}}"/>
                        </td>

                        <td align="center">
                            <a role="button" class="delete-file-btn" data-fileid="{{id}}">Șterge</a> 
                            <span class="ms-2 me-2">|</span>
                            <a href="/fisiere/{{id}}">Detalii</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

        </div>
    </div>


    <input type="hidden" name="courseId" value="{{courseId}}" id="courseId" />
    <input type="hidden" name="chapterId" value="{{chapterId}}" />
    <input type="hidden" name="lessonId" value="{{lessonId}}" />
    <input type="hidden" name="levelId" value="{{levelId}}" />
    <input type="hidden" name="exerciseId" value="{{exercise._id}}" id="exerciseId" />

    <div class="row mt-3 mb-3">
        <div class="col-md-7s offset-md-3s">
            <button type="submit" name="saveBtn" class="btn btn-primary"><i class="bi bi-save"></i>
                Salveaza</button>

            {{!-- {{#if isEditMode}}
            <a href="{{#if contest}}/concursuri/{{contest._id}}{{/if}}/exercitii/{{exercise._id}}"
                class="btn btn-light"><i class="bi bi-eye"></i> Vizualizează</a>
            {{/if}} --}}

            <label class="col-md-3s col-form-label float-end"> Ajutor:
                <a href="https://markdown-it.github.io/">markdon</a>
                <small><i class="bi bi-box-arrow-up-right" aria-hidden="true"></i></small>
                +
                <a href="https://katex.org/docs/supported.html">latex </a>
                <small><i class="bi bi-box-arrow-up-right" aria-hidden="true"></i></small></label>
        </div>

    </div>

</form>

{{!-- We cannot nest html form tags --}}
<form enctype="multipart/form-data">
    <input type="file" name="filefield1" id="upload-file-statement-input" multiple accept="image/*, application/pdf" class="d-none">
    <input type="file" name="filefield2" id="upload-file-solution-input" multiple accept="image/*, application/pdf" class="d-none">
</form>

{{#section 'script'}}
<script type="module" src="/js/eventBinders/exercise-create-or-edit.event-binder.js"></script>
{{/section}}