<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="/clase/{{class._id}}">Clasa:
                {{class.grade}}-{{class.name}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Teme propuse</li>
    </ol>
</nav>

<h1>Teme pt. acasă</h1>
<h2 class="mb-5">Clasa a {{class.grade}}-a, {{class.name}}</h2>

<h3>Tema curentă:</h3>
{{#if currentRequest}}
<ul>
    <li>
        <a href="/teme/{{currentRequest._id}}">{{currentRequest.name}}:</a>
        <span class="text-muted">{{currentRequest.description}}</span>
        <div class="ml-4">
            <span class2="font-weight-bold">exerciții propuse</span>:
            {{#each currentRequest.documents}}
            <span>
                <a href="{{url}}">subiecte</a>
            </span>
            {{/each}}
            ({{currentRequest.totalRequestedQuestions}} ex.)
        </div>
        <div class="ml-4">
            <span class2="font-weight-bold">termen de predare</span>: {{currentRequest.dueDateAsString}}
        </div>

    </li>
</ul>
{{else}}
Nu există temă pentru perioada curentă!
{{/if}}

<hr />

<h3>Teme vechi:</h3>
<ul>
    {{#each homeworkRequests}}
    <li class="mb-3">
        <a href="/teme/{{_id}}">{{name}}:</a>
        <span class="text-muted">{{description}}</span>
        <div class="ml-4">
            <span class2="font-weight-bold">exerciții propuse</span>:
            {{#each documents}}
            <span>
                <a href="{{url}}">subiecte</a>
            </span>
            {{/each}}
            ({{totalRequestedQuestions}} ex.)
        </div>
        <div class="ml-4">
            <span class2="font-weight-bold">termen de predare</span>: {{dueDateAsString}}
        </div>

    </li>
    {{/each}}
</ul>

<div class="mt-5 mb-1">
    <span class="font-weight-bold">Obs1</span>: Temele se scriu pe coli albe (A4) și se predau in zilele de curs. Se
    pot trimite și pe WhatsApp (pt. cei care lipsesc).
</div>
<div class="mb-5"><span class="font-weight-bold">Obs2</span>: Pentru ajutor suplimentar există grupul <a
        href="https://www.facebook.com/groups/417125302327211/">MateMaraton:
        ajutor la teme</a>.</div>