<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</i></a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="/clase/{{class._id}}">Clasa:
                {{class.grade}}-{{class.name}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Total teme predate</li>
    </ol>
</nav>

<h1>Total teme predate</h1>
<h2 class="mb-5">Clasa a {{class.grade}}-a, {{class.name}}</h2>

{{#each submissionsInfoForActiveStudents}}
<div>
    <a href="/elevi/{{student.id}}">{{student.shortName}}</a>
    {{#if student.gradeAndLetter}} ({{student.gradeAndLetter}}){{/if}}
    - exerciții: <a href="/elevi/{{student.id}}/prezenta">{{totalSubmittedExercises}}</a> din
    {{totalExercises}} ({{totalSubmittedExercisesAsPercent}}%)
    <div class="progress mb-2">
        <div class="progress-bar" role="progressbar" style="width: {{totalSubmittedExercisesAsPercent}}%"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>
{{/each}}