<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/">Cursuri</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/{{course._id}}">{{course.code}}</a></li>
    </ol>
</nav>

<h1>{{#if isEditMode}}Cap.{{inc course.selectedChapter.index}}: {{course.selectedChapter.name}}{{else}}Capitol
    nou{{/if}}</h1>

<form method="post" novalidate onsubmit="saveBtn.disabled = true; return true;">

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="nameInput" class="font-weight-bold">Nume:</label>
            <input type="text" name="name" class="form-control" id="nameInput" placeholder=""
                value="{{course.selectedChapter.name}}">
            <small>
                <p class="text-muted mb-0">Ex: Numere raționale</p>
            </small>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="descriptionInput" class="font-weight-bold">Descriere:</label>
            <textarea type="text" name="description" class="form-control" id="descriptionInput"
                placeholder="">{{course.selectedChapter.description}}</textarea>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="positionSelect" class="font-weight-bold">Poziția:</label>
            <select name="position" class="form-control" id="positionSelect">
                {{#select selectedPosition}}
                {{#each positionOptions}}
                <option value="{{index}}">{{name}}</option>
                {{/each}}
                {{/select}}
            </select>
            <small>
                <p class="text-muted mb-0">Poziția în cadrul listei</p>
            </small>
        </div>
    </div>

    {{!-- <label class="font-weight-bold">Vizibilitate:</label> --}}

    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="isHiddenCheck" name="isHidden" {{#if
            course.selectedChapter.isHidden}}checked{{/if}}>
        <label class="form-check-label" for="isHiddenCheck">Ascunde</label>
        <small>
            <p class="text-muted mb-0">Doar tu (proprietarul) poți vedea resursele ascunse</p>
        </small>
    </div>

    <input type="hidden" name="id" value="{{course._id}}" />

    <div class="form-group mt-4">
        <div class="col-md-7s offset-md-3s">
            <button type="submit" name="saveBtn" class="btn btn-primary"><i class="bi bi-save"></i>
                Salveaza</button>

            {{#if isEditMode}}
            <a href="/cursuri/{{course._id}}/capitole/{{course.selectedChapter.id}}" class="btn btn-light"><i
                    class="bi bi-eye"></i>
                Vizualizează</a>
            <button type="submit" formaction="/cursuri/{{course._id}}/capitole/{{course.selectedChapter.id}}/sterge"
                name="deleteBtn" class="btn btn-link"
                onclick="return confirm('Ești sigur că vrei să ștergi acest capitol?');"><i
                    class="bi bi-trash-fill"></i>
                Șterge</button>
            {{/if}}
        </div>
    </div>

</form>