<nav aria-label="breadcrumb">
    <ol class="breadcrumb pe-2">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/">Cursuri</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/{{courseId}}">{{courseCode}}</a></li>
        <li class="breadcrumb-item active">Cap.{{inc chapterIndex}}</li>

        {{#if canCreateOrEditCourse}}
        <li title="Editează" class="ms-auto ms-3"><a href="/cursuri/{{courseId}}/capitole/{{chapter.id}}/modifica"><i class="bi bi-pencil"></i></a></li>
        {{/if}}
    </ol>
</nav>

<h1 class="d-inline-block">Cap.{{inc chapterIndex}}: {{chapter.name}}
    <span class="hide-on-print">
        <a href="/cursuri/{{courseId}}/capitole/{{prevChapterId}}" class="btn btn-link fs-3 p-0 align-baseline {{#unless prevChapterId}}disabled{{/unless}}"><i class="bi bi-arrow-left-circle"></i></a>
        <a href="/cursuri/{{courseId}}/capitole/{{nextChapterId}}" class="btn btn-link fs-3 p-0 align-baseline {{#unless nextChapterId}}disabled{{/unless}}"><i class="bi bi-arrow-right-circle"></i></a>
    </span>
</h1>

<div class="text-muted">
    {{{chapter.descriptionPreview}}}
</div>

<h3 class="mt-3">Lecții:</h3>

{{#each chapter.lessons}}
<div>
    {{inc @index}}.
    {{#if isActive}}
        <a href="/lectii/{{id}}">{{name}}</a>
        <span class="text-muted">({{ exercises.length }}{{#unless exercises.length}}0{{/unless}})</span>
    {{else}}
        <span class="text-muted">{{name}}</span>
    {{/if}}

    {{#if isHidden}}
        <a href="/cursuri/{{@root.courseId}}/capitole/{{@root.chapter.id}}/lectii/{{id}}/modifica">
            <i class="bi bi-eye-slash text-danger"></i></a>
    {{/if}}
</div>
{{/each}}