<nav aria-label="breadcrumb">
    <ol class="breadcrumb pe-2">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/modifica">Cursuri</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/{{courseId}}/modifica">{{courseCode}}</a></li>
        {{#if isEditMode}}
        <li class="breadcrumb-item active">Cap.{{inc chapterIndex}}</li>
        {{/if}}
        
        {{#if isEditMode}}
        <li title="Json" class="ms-auto ms-3"><a href="/cursuri/{{courseId}}/capitole/{{chapterId}}/json"><i class="bi bi-braces"></i></a></li>
        <li class="ms-3" title="Vizualizează"><a href="/cursuri/{{courseId}}/capitole/{{chapterId}}"><i class="bi bi-eye"></i></a></li>
        {{/if}}
    </ol>
</nav>

<h1>{{#if isEditMode}}Cap.{{inc chapterIndex}}: {{chapter.name}}{{else}}Capitol
    nou{{/if}}</h1>

{{#if isEditMode}}
<ul class="nav nav-tabs">
    <li class="nav-item">
         <a class="nav-link {{#if isLessonsTabActive}}active{{/if}}" id="lessons-tab" aria-current="page" href="/cursuri/{{courseId}}/capitole/{{chapterId}}/modifica">Lecții</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{#if isGeneralTabActive}}active{{/if}}" id="general-tab"href="/cursuri/{{courseId}}/capitole/{{chapterId}}/modifica?view=general"><i class="bi bi-gear"></i></a>
    </li>
</ul>
{{/if}}

<div class="tab-content" id="myTabContent">
    <div class="tab-pane show {{#if isLessonsTabActive}}active{{/if}}" id="lessons-tab-pane" role="tabpanel" aria-labelledby="lessons-tab" tabindex="0">
        <section class="mt-4">
            {{#if isEditMode}}

            {{#each chapter.lessons}}
            <div>
                {{inc @index}}.
                {{#if isActive}}
                    <a href="/lectii/{{id}}/modifica">{{name}}</a>
                    <span class="text-muted">({{ exercises.length }}{{#unless exercises.length}}0{{/unless}})</span>
                {{else}}
                    <span class="text-muted">{{name}}</span> 
                    <a class="pl-1 text-decoration-none" href="/lectii/{{id}}/modifica">...</a>
                {{/if}}

                {{#if isHidden}}
                    <a href="/cursuri/{{@root.courseId}}/capitole/{{@root.chapter.id}}/lectii/{{id}}/modifica">
                        <i class="bi bi-eye-slash text-danger"></i></a>
                {{/if}}
            </div>
            {{/each}}

            <a href="/lectii/adauga?courseId={{courseId}}&chapterId={{chapter.id}}" class="btn btn-primary btn-sm mt-4">
            <i class="bi bi-plus-lg"></i> Adaugă lecție</a>

            {{else}}
                <div class="alert alert-info mt-4" role="alert">
                    <i class="bi bi-info-circle me-2"></i>
                    Salvează capitolul pentru a putea adăuga lecții!
                </div>
            {{/if}}
        </section>
    </div>

    <div class="tab-pane show {{#if isGeneralTabActive}}active{{/if}}" id="general-tab-pane" role="tabpanel" aria-labelledby="general-tab" tabindex="1">
        <section class="mt-4">
            <form method="post" novalidate onsubmit="saveBtn.disabled = true; return true;">

                <div class="row mb-3">
                    <div class="col-md-12">
                        <label for="nameInput" class="fw-bold">Nume:</label>
                        <input type="text" name="name" class="form-control" id="nameInput" placeholder=""
                            value="{{chapter.name}}">
                        <small>
                            <p class="text-muted mb-0">Ex: Numere raționale</p>
                        </small>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-12 description-div">
                        <label for="description-editor-txt"  class="fw-bold">Descriere:</label>

                        {{!-- close the textarea tag on the same line to get rid of the unintended spaces: https://stackoverflow.com/a/34102261 --}}
                        <textarea id="description-editor-txt" rows="8" name="description" type="text" 
                            class="description-input drop-area form-control {{#if errors.lastName}}is-invalid {{/if}} {{#if isEditMode}}d-none{{/if}}" placeholder="">{{chapter.description}}</textarea>
                        <div class="invalid-feedback">{{errors.description.msg}}</div>

                        <div id="description-preview-div" class="mt-0"
                            style="border: 1px solid #bb815d; padding: 6px 12px; background-color: #fff9f8; min-height:58px">
                            {{{chapter.descriptionPreview}}}
                        </div>

                        {{!-- Description menu --}}
                        <div class="description-menu-div hide-on-print clearfix">
                            <div class="float-end">
                                <a id="toggle-description-editor-btn" href="">{{#if isEditMode}}Editează{{else}}Ascunde{{/if}}</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="positionSelect" class="fw-bold">Poziție:</label>
                        <select name="position" class="form-select" id="positionSelect">
                            {{#select selectedPosition}}
                            {{#each availablePositions}}
                            <option value="{{index}}">{{name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                        <small>
                            <p class="text-muted mb-0">Poziția în cadrul listei</p>
                        </small>
                    </div>
                </div>

                <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input" id="isHiddenCheck" name="isHidden" {{#if
                        chapter.isHidden}}checked{{/if}}>
                    <label class="form-check-label" for="isHiddenCheck">Ascunde</label>
                    <small>
                        <p class="text-muted mb-0">Doar tu (proprietarul) poți vedea resursele ascunse</p>
                    </small>
                </div>

                <input type="hidden" name="courseId" value="{{courseId}}" />

                <div class="mt-4">
                    <div class="col-md-7s offset-md-3s">
                        <button type="submit" name="saveBtn" class="btn btn-primary btn-sm"><i class="bi bi-save"></i>
                            Salveaza</button>

                        {{#if isEditMode}}
                        <button type="submit" formaction="/cursuri/{{courseId}}/capitole/{{chapter.id}}/sterge"
                            name="deleteBtn" class="btn btn-link"
                            onclick="return confirm('Ești sigur că vrei să ștergi acest capitol?');"><i
                                class="bi bi-trash-fill"></i>
                            Șterge</button>
                        {{/if}}
                    </div>
                </div>

            </form>
        </section>
    </div>
</div>

{{#section 'script'}}
<script type="module" src="/js/eventBinders/course-chapter-create-or-edit.event-binder.js"></script>
{{/section}}








