<nav aria-label="breadcrumb">
    <ol class="breadcrumb pe-2">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/clase">Clase</a></li>
        <li class="breadcrumb-item"><a href="/clase/{{class._id}}">{{class.name}}</a></li>
        <li class="breadcrumb-item active">Total prezențe</li>
    </ol>
</nav>

<h1>Total prezențe</h1>
<h2 class="mb-5">{{class.name}}</h2>

{{#each presencesInfoForActiveStudents}}
    <div>
        <a href="/elevi/{{student.id}}">{{student.shortName}}</a>
        {{#if student.gradeAndLetter}} ({{student.gradeAndLetter}}){{/if}}
        - prezențe:
        <a href="/clase/{{@root.class._id}}/elevi/{{student.id}}/prezenta">{{totalPresences}}</a>
        din
        {{totalCourses}}
        ({{totalPresencesAsPercent}}%)
        <div class="progress mb-2">
            <div
                class="progress-bar"
                role="progressbar"
                style="width: {{totalPresencesAsPercent}}%"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
            ></div>
        </div>
    </div>
{{/each}}

{{#if presencesInfoForInactiveStudents.length}}
    <hr class="mt-5" />

    <div id="inactiveStudentsDiv" class="d-none">
        {{#each presencesInfoForInactiveStudents}}
            <div>
                <a href="/elevi/{{student.id}}">{{student.shortName}}</a>
                {{#if student.gradeAndLetter}} ({{student.gradeAndLetter}}){{/if}}
                - prezențe:
                <a href="/elevi/{{student.id}}/prezenta">{{totalPresences}}</a>
                din
                {{totalCourses}}
                ({{totalPresencesAsPercent}}%)
                <div class="progress">
                    <div
                        class="progress-bar"
                        role="progressbar"
                        style="width: {{totalPresencesAsPercent}}%"
                        aria-valuenow="25"
                        aria-valuemin="0"
                        aria-valuemax="100"
                    ></div>
                </div>
            </div>
        {{/each}}
    </div>

    <div class="mt-4 mb-5">
        <a class="toggleInactiveStudentsBtn" href="/">Vezi și elevii care au abandonat</a>
        <small><i class="bi bi-chevron-double-right text-muted" aria-hidden="true"></i></small>
    </div>
{{/if}}

{{#section "script-after"}}
    <script>

        document.addEventListener('DOMContentLoaded', (event) => { // DOM ready // event binders var toggleInactiveStudentsElem =
        document.querySelector("a.toggleInactiveStudentsBtn"); if(toggleInactiveStudentsElem) toggleInactiveStudentsElem.addEventListener("click",
        eventHandlers.toggleInactiveStudents); }); const eventHandlers = { toggleInactiveStudents: async event => { event.preventDefault(); const div
        = document.getElementById("inactiveStudentsDiv"); div.classList.toggle("d-none"); // toggle button-text const divIsHide =
        div.classList.contains("d-none"); event.target.textContent = divIsHide ? "Vezi și elevii care au abandonat" : "Vezi doar elevii activi"; //
        toggle button-icon const icon = event.target.closest("div").querySelector("i"); if(icon.classList.contains("bi-chevron-double-right")) {
        icon.classList.remove("bi-chevron-double-right"); icon.classList.add("bi-chevron-double-left"); } else {
        icon.classList.remove("bi-chevron-double-left"); icon.classList.add("bi-chevron-double-right"); } }, }

    </script>
{{/section}}