<style>
    .hidePresence {
        display: none;
    }

    .hideStudent {
        display: none;
    }
</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="/clase/{{class._id}}">Clasa:
                {{class.grade}}-{{class.name}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Total prezențe</li>
    </ol>
</nav>

<h1>Total prezențe</h1>
<h2 class="mb-5">Clasa a {{class.grade}}-a, {{class.name}}</h2>

{{#each presencesInfoForActiveStudents}}
<div>
    <a href="/elevi/{{student.id}}">{{student.shortName}}</a>
    {{#if student.gradeAndLetter}} ({{student.gradeAndLetter}}){{/if}}
    - prezențe: <a href="/elevi/{{student.id}}/prezenta">{{totalPresences}}</a> din
    {{totalCourses}} ({{totalPresencesAsPercent}}%)
    <div class="progress mb-2">
        <div class="progress-bar" role="progressbar" style="width: {{totalPresencesAsPercent}}%" aria-valuenow="25"
            aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>
{{/each}}

<hr class="mt-5" />


{{#each presencesInfoForInactiveStudents}}
<div {{#if student.isDroppedOut}} class="toggle-presence hidePresence" {{/if}}>
    <a href="/elevi/{{student.id}}">{{student.shortName}}</a>
    {{#if student.gradeAndLetter}} ({{student.gradeAndLetter}}){{/if}}
    - prezențe: <a href="/elevi/{{student.id}}/prezenta">{{totalPresences}}</a> din
    {{totalCourses}} ({{totalPresencesAsPercent}}%)
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{totalPresencesAsPercent}}%" aria-valuenow="25"
            aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>
{{/each}}


{{#if presencesInfoForInactiveStudents.length}}
<div class="mt-4 mb-5">
    <a class="toggle-presence" href="/" style="font-size:1.2rem;">Vezi și elevii care
        au abandonat <i class="fas fa-angle-double-right"></i></a>
    <a class="mt-5 toggle-presence hidePresence" href="/" style="font-size:1.2rem;"><i
            class="fas fa-angle-double-left"></i>
        Vezi doar elevii activi</a>
    {{/if}}
</div>

{{#section 'script-after'}}
<script>
    (function () {
        // DOM ready
        $(function () {
            // elements
            var togglePresencesElem = $("a.toggle-presence");
            var toggleStudentsElem = $("a.toggle-student");

            // events
            togglePresencesElem.click(togglePresences);
            toggleStudentsElem.click(toggleStudents);
        });

        var togglePresences = function () {
            event.preventDefault();
            $(".toggle-presence").toggleClass("hidePresence");
        }

        var toggleStudents = function () {
            event.preventDefault();
            $(".toggle-student").toggleClass("hideStudent");
        }

    }())
</script>
{{/section}}