<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</i></a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="/clase/{{class._id}}">Clasa:
                {{class.grade}}-{{class.name}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Total prezențe pe elevi</li>
    </ol>
</nav>

<h1>Total prezențe pe elevi</h1>
<h2 class="mb-5">Clasa a {{class.grade}}-a, {{class.name}}</h2>