<style>
</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        {{#if course}}
        <li class="breadcrumb-item"><a href="/cursuri/">Cursuri</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/{{course._id}}/">{{course.code}}</a></li>
        {{else}}
        <li class="breadcrumb-item"><a href="/concursuri/">Concursuri</a></li>
        {{/if}}
        <li class="breadcrumb-item active">{{contest.newCode}}</li>
    </ol>
</nav>

<h3 class="mb-4"><span class="font-weight-light text-secondary2">{{contest.name}}</span>
</h3>

<div class="form-group mt-4">
    <div class="col-md-7s offset-md-3s">

        {{#if canCreateOrEditContest}}
        <a href="/concursuri/{{contest._id}}/adauga" class="btn btn-primary"><i class="fa fa-plus"></i>
            Adaugă exercițiu</a>

        <a href="/concursuri/{{contest._id}}/modifica" class="btn btn-light"><i class="fa fa-edit"></i>
            Modifică</a>
        {{/if}}

        {{#if canDeleteContest}}
        <form method="post" onsubmit="deleteBtn.disabled = true; return true;" style="display:inline">
            <input type="hidden" name="_id" value="{{contest._id}}" />
            <button type="submit" formaction="/concursuri/sterge" name="deleteBtn" class="btn btn-link"
                onclick="return confirm('Ești sigur că vrei să ștergi acest concurs?');"><i
                    class="fas fa-trash-alt"></i>
                Șterge</button>
        </form>
        {{/if}}
    </div>
</div>

{{#each contest.exercises}}
<div class="mb-4">
    <div style="border: 1px solid #bb815d; padding: 6px 12px; background-color: #fff9f8; min-height:58px">
        {{{question.statement.textPreview}}}
        {{#if question.answerOptions}}
        <div class="row">
            {{#each question.answerOptions}}
            <div class="col text-nowrap">{{{textPreview}}}</div>
            {{/each}}
        </div>
        {{/if}}
    </div>
    {{!-- <div class="font-italic small text-right text-muted">{{contestName}}</div>
    <div class="font-italic small text-right text-muted">{{sourceName}}</div> --}}

    {{#if question.solution}}
    <div class="font-weight-bold mt-2">Soluție:</div>
    <div style2="border: 1px solid lightgray; padding: 6px 12px; background-color: min-height:58px">
        {{{question.solution.textPreview}}}</div>
    {{/if}}

    <hr class="mb-1">

    <div class="row">
        <div class="col text-nowrap">
            {{#if question.answerOptions}}
            {{{question.correctAnswerPreview}}}
            {{else}}
            {{{question.answer.textPreview}}}
            {{/if}}
        </div>
        <div class="col text-nowrap font-italic font-weight-light small text-right text-muted">Rezolvare: L. Măran
        </div>
    </div>

</div>
{{/each}}