<nav aria-label="breadcrumb">
    <ol class="breadcrumb pe-2">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/">Cursuri</a></li>
        <li class="breadcrumb-item active">{{courseCode}}</li>

        <li title="Vizualizează" class="ms-auto ms-2"><a href="/cursuri/{{courseId}}"><i class="bi bi-eye"></i></a></li>
        {{#if canCreateOrEditCourse}}
        <li class="ms-3" title="Editează"><a href="/cursuri/{{courseId}}/modifica"><i class="bi bi-pencil"></i></a></li>
        {{/if}}
    </ol>
</nav>

<h1>Curs {{courseCode}}</h1>

<pre><code>{{{courseAsPrettyJson}}}</code></pre>