<style>
    OL {
        counter-reset: item;
    }

    LI {
        display: block;
    }

    #agenda LI:before {
        /* only <li>s in agenda section */
        content: counters(item, ".") ". ";
        counter-increment: item
    }
</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/">Cursuri</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{course.code}}</li>
    </ol>
</nav>

<h1>Curs {{course.code}}</h1>

<h3 class="font-weight-light">{{course.name}}</h3>

<div class="h4 font-weight-light">{{course.description}}</div>

{{!-- Clasa: {{course.grade}} </br>
Nivel: {{course.level}} </br>
Durata: {{course.duration}} </br>
</br></br> --}}
In curând!

{{#if course.agenda}}
<h4 class="mb-4">Structura cursului: <span class="font-weight-light">({{course.totalHours}} sesiuni)</span></h4>

{{!-- <hr> --}}

{{!-- -- OK(ver.1)
<ul style="padding-left: 0; list-style-type:none">
    {{#each course.agenda}}
    {{> lesson.partial}}
    {{/each}}
</ul> --}}

{{#each course.agenda}}
{{#if lessonName}}
<a href="/cursuri/{{@root.course._id}}/lectii/{{lessonId}}">{{lessonName}}</a>
{{else}}
<h5>{{folderName}}<span class="font-weight-light text-lowercase"> ({{totalHours}} sesiuni)</span></h5>
<ol id="agenda" class="pl-0">
    {{#each folderItems}}
    {{> lesson.partial}}
    {{/each}}
</ol>
{{/if}}

{{/each}}
{{/if}} {{!--course.agenda --}}