<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {{!-- <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li> --}}
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>

        <li class="breadcrumb-item" aria-current="page"><a href="/clase/{{class._id}}">{{class.name}}</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="/clase/{{class._id}}/cursuri">Cursuri</a></li>
        <li class="breadcrumb-item active" aria-current="page">Toate pozele</li>

    </ol>
</nav>

<h1>Cursuri <span class="h3 font-weight-light text-muted">(toate pozele)</span></h1>
<h2 class="mb-5">{{class.name}}</h2>


{{#each courses}}
<div class="h4 mt-5">
    <a href="/cursuri/{{_id}}">Curs{{course}}</a>
    <span class="h5 font-weight-light text-muted"> - {{dateAsString}}
        {{#if videos}}
        <a href="/cursuri/{{_id}}"><i class="fab fa-youtube" style="color:red"></i></a>
        {{/if}}
    </span>
</div>


<div class="h6 font-weight-normal mb-5a mt-2">{{description}}</div>

{{#each images}}
<p>{{description}}</p>
<img src={{url}} class="img-fluid border" alt="">
<a class="mb-4" style="display: block;" href={{highQualityUrl}}>Vezi poza la calitate maximă</a>
{{/each}}



{{/each}}