<style>
    OL {
        counter-reset: item;
    }

    LI {
        display: block;
    }

    #agenda LI:before {
        /* only <li>s in agenda section */
        content: counters(item, ".") ". ";
        counter-increment: item
    }

    #table-of-contents LI:before {
        /* only <li>s in agenda section */
        content: counters(item, ".") ". ";
        counter-increment: item
    }
</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/">Cursuri</a></li>
        <li class="breadcrumb-item active">{{course.code}}</li>
    </ol>
</nav>

<h1><span >Curs {{course.code}}</span>
    {{#if canCreateOrEditCourse}}
    {{!-- <a href="/cursuri/{{course._id}}/modifica">
        <i class="bi bi-pencil-fill" style2="font-size: 75%"></i>
    </a> --}}
    <a class="btn btn-light btn-outline-primary align-top mt-1" href="/cursuri/{{course._id}}/modifica">
        <i class="bi bi-pencil-fill" style2="font-size: 75%"></i>
    </a>
    {{/if}}
</h1>

<h3 class=" font-weight-light">{{course.name}}</h3>

<div class="h4 font-weight-light">{{course.description}}</div>

<ol id="table-of-contents" class="pl-0">
    {{#each course.chapters}}
    <li>
        <a href="/cursuri/{{@root.course._id}}/capitole/{{id}}" class2="text-uppercase">{{name}}</a>

        {{#if isHidden}}
        <a href="/cursuri/{{@root.course._id}}/capitole/{{id}}/modifica">
            <i class="bi bi-eye-slash text-danger"></i></a>
        {{/if}}

        <ol>
            {{#each lessons}}
            <li>
                <a class="pl-1" href="/cursuri/{{@root.course._id}}/capitole/{{../id}}/lectii/{{id}}">{{name}}</a>
            </li>
            {{/each}}
            {{!-- <a href="/cursuri/{{@root.course._id}}/capitole/{{id}}/lectii/adauga"><i class="bi bi-plus-lg"></i>
                Adaugă
                lecție</a> --}}
        </ol>

    </li>
    {{/each}}
</ol>

{{#if canCreateOrEditCourse}}
<a href="/cursuri/{{course._id}}/capitole/adauga" class="btn btn-primary btn-sm">
    <i class="bi bi-plus-lg"></i> Adaugă capitol</a>
{{/if}}