<nav aria-label="breadcrumb">
    <ol class="breadcrumb pe-2">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item active">Cursuri</li>

        {{#if canCreateOrEditCourse}}
        <li title="Editează" class="ms-auto ms-3"><a href="/cursuri/modifica"><i class="bi bi-pencil"></i></a></li>
        {{/if}}
    </ol>
</nav>

<h1>Cursuri</h1>

{{#each sections}}
    <div class="mt-4">
        <span class="h2">{{name}}:</span> 
    </div>

    <div class="text-muted">{{{descriptionPreview}}}</div>
    <ul class="mt-2">
        {{#each courses}}
            <li>{{code}}: 
                {{#if isActive}}
                    <a href="/cursuri/{{_id}}">{{name}} </a>
                {{else}}
                    <span class="text-muted">{{name}}</span>
                {{/if}}
        {{/each}}
    </ul>
{{/each}}