<nav aria-label="breadcrumb">
    <ol class="breadcrumb pe-2">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/">Cursuri</a></li>
        <li class="breadcrumb-item active">{{course.code}}</li>

        {{#if canCreateOrEditCourse}}
        <li title="Editează" class="ms-auto ms-3"><a href="/cursuri/{{course._id}}/modifica"><i class="bi bi-pencil"></i></a></li>
        {{/if}}
    </ol>
</nav>

<h1>Curs {{course.code}}</h1>

<h3 class=" font-weight-light">{{course.name}}</h3>

<div class="h4 font-weight-light">{{course.description}}</div>

{{#each course.chapters}}
<div>
    <strong>{{inc @index}}. {{name}}{{#unless name}}Fără nume{{/unless}}</strong> 
    
    {{#if numberOfActiveLessons }}
        (<a href="/cursuri/{{@root.course._id}}/capitole/{{id}}">{{ numberOfActiveLessons }}</a>)
    {{/if}}

    {{#each lessons}}
        <div class="ps-3">
            {{inc @../index}}.{{inc @index}}. 
            {{#if isActive}}
                <a class="pl-1" href="/lectii/{{id}}">{{name}}</a>
                <span class="text-muted">({{ exercises.length }}{{#unless exercises.length}}0{{/unless}})</span>
            {{else}}
                <span class="text-muted">{{name}}</span>
            {{/if}}
        </div>
    {{/each}}
</div>
{{/each}}
