<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/">Cursuri</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/{{course._id}}">{{course.code}}</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/{{course._id}}/capitole/{{course.selectedChapter.id}}">
                Cap.{{inc course.selectedChapter.index}}</a></li>
        <li title="Vizualizează" class="ms-auto"><a
                href="/cursuri/{{course._id}}/capitole/{{course.selectedChapter.id}}/lectii/{{course.selectedLesson.id}}"
            ><i class="bi bi-eye me-1"></i></a></li>
    </ol>
</nav>

<h1>{{#if isEditMode}}Lecția {{inc course.selectedLesson.index}}: {{course.selectedLesson.name}}{{else}}Lecție nouă{{/if}}</h1>